{% extends "admin/layout.html" %}
{% block title %}{{ _("Browse Uploads") }}{% endblock %}
{% block contents %}
  <h1>{{ _("Browse Uploads") }}</h1>
  <table>
    <tr>
      <th>{{ _("Filename") }}</th>
      <th>{{ _("Size") }}</th>
      <th>{{ _("Mimetype") }}</th>
      <th>{{ _("Actions") }}</th>
    </tr>
  {%- for file in files %}
    <tr class="{{ loop.cycle('even', 'odd') }}">
      <td><a href="{{ url_for('blog/get_uploaded_file', filename=file.filename)|e
          }}">{{ file.filename|e }}</a></td>
      <td>{{ file.size|filesizeformat }}</td>
      <td>{{ file.mimetype|e }}</td>
      <td><a href="{{ url_for('admin/delete_upload', filename=file.filename)
          }}">{{ _('Delete') }}</a></td>
    </tr>
  {%- else %}
    <tr>
      <td colspan="4">{{ _("No files uploaded so far.") }}</td>
    </tr>
  {%- endfor %}
  </table>
  <form action="{{ url_for('admin/new_upload') }}" method="get">
    <div class="actions">
      <input type="submit" value="{{ _('Upload New File') }}">
    </div>
  </form>
{% endblock %}
