{% extends "admin/layout.html" %}
{% block title %}{{ _("Create Thumbnails") }}{% endblock %}
{% block contents %}
  <h1>{{ _("Create Thumbnails") }}</h1>
  <p>{% trans %}
    Here you can create thumbnails for your uploaded pictures.
  {% endtrans %}</p>
  {% if images %}
  <form action="" method="post">
    <dl>
      <dt>{{ _("Create Thumbnail For") }}</dt>
      <dd><select name="src_image">
      {%- for image in images %}
      <option{% if form.src_image == image.filename %} selected{% endif
        %}>{{ image.filename|e }}</option>
      {%- endfor %}
      </select></dd>
      <dt>{{ _("Width") }}</dt>
      <dd>{{ h.input_field('thumb_width', form.thumb_width, size=10) }}</dd>
      <dt>{{ _("Height") }}</dt>
      <dd>{{ h.input_field('thumb_height', form.thumb_height, size=10) }}</dd>
      <dt>{{ _("Keep Aspect Ratio") }}</dt>
      <dd>{{ h.checkbox('keep_aspect_ratio', 'yes', form.keep_aspect_ratio) }}</dd>
      <dt>{{ _("Thumbnail Filename") }}</dt>
      <dd>{{ h.input_field('thumb_filename', form.thumb_filename, size=50) }}</dd>
    </dl>
    <div class="actions">
      {{ hidden_form_data }}
      <input type="submit" value="{{ _('Create Thumbnail') }}">
    </div>
  </form>
  <script type="text/javascript">
    $(function() {
      function updateThumbFilename() {
        if (keepThumbFilenameSynced)
          fn.val(buildThumbFilename());
      }

      function buildThumbFilename() {
        var width = thumb_width.val();
        var height = thumb_height.val();
        return src_image.val().match(/^(.+)\./)[1] + '_thumb' + (
          (width ? '_' + width : '') +
          (height ? 'x' + height : '')
        ) + '.jpg';
      }      

      var fn = $('#thumb_filename').change(function() {
        keepThumbFilenameSynced = false;
      });
      var keepThumbFilenameSynced = (fn.val() == '' ||
                                     fn.val() == buildThumbFilename());
      var src_image = $('select[@name="src_image"]').change(updateThumbFilename);
      var thumb_width = $('#thumb_width').keyup(updateThumbFilename);
      var thumb_height = $('#thumb_height').keyup(updateThumbFilename);
      updateThumbFilename();
    });
  </script>
  {% else %}
    <p>{% trans %}You haven't uploaded any images yet.{% endtrans %}</p>
  {% endif %}
{% endblock %}
