/**
 * TextPress Webpage Design
 */

body {
    color: black;
    background-color: #f2f2f2;
    font-family: 'Georgia', serif;
    font-size: 17px;
    margin: 1em;
    padding: 0;
    text-align: justify;
}

div.header h1 {
    margin: 0;
    font-size: 40px;
    background-color: #194c4e;
    padding: 10px 0 0 20px;
}

div.header h1 a {
    text-decoration: none;
    color: white;
}

div.header h2 {
    margin: 0;
    padding: 0 0 10px 20px;
    background-color: #194c4e;
    border-bottom: none;
    color: white;
    font-style: italic;
    font-size: 20px;
    font-variant: normal;
}

div.navigation {
    height: 28px;
    background-color: #133233;
}

div.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 8px;
    font-size: 16px;
    font-weight: bold;
}

div.navigation ul li {
    float: left;
    line-height: 28px!important;
}

div.navigation ul li a {
    display: block;
    padding: 0 12px 0 12px;
    color: white;
    text-decoration: none;
}

div.navigation ul li a:hover {
    background-color: #0b1c1d;
}

div.pagewrapper {
    background-color: white;
    border: 1px solid #194c4e;
}

div.footer {
    background-color: #194c4e;
    margin: 30px 0 0 0;
    padding: 8px 10px 6px 0;
    font-size: 14px;
}

div.footer p {
    margin: 0;
    text-align: right;
    color: white;
}

div.footer p a {
    color: white;
}

div.contents {
    margin: 20px 30px 20px 30px;
}

pre, tt, code {
    font-family: 'Consolas', 'Bitstream Vera Sans Mono', 'Monaco', monospace;
    font-size: 0.9em;
}

a {
    color: #3a6668;
}

a:hover {
    color: #122223;
}

p {
    margin: 0.4em 0 0.4em 0;
}

p, blockquote, li {
    line-height: 1.4em;
}

dl dt {
    margin: 5px 0 4px 0;
    font-size: 0.9em;
    color: #333;
}

dl dd {
    margin: 3px 0 9px 40px;
}

input, textarea {
    border: 1px solid #ccc;
    font-family: 'Georgia', serif;
    font-size: 0.9em;
    font-weight: bold;
    color: #2f2d2a;
    background-color: #f2f2f2;
    padding: 2px;
}

input:focus, textarea:focus {
    background-color: white;
}

textarea {
    clear: both;
    display: block;
    width: 40em;
    height: 8em;
}

div.actions {
    margin: 4px 0 4px 0;
    padding: 2px;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
    text-align: left;
}

div.actions input {
    background-color: white;
    cursor: pointer;
}

div.info {
    background-color: #e4e5d7;
    border: 1px solid #aaa;
    padding: 5px;
    margin: 10px 0 10px 0;
    font-size: 0.9em;
}

div.info h3 {
    color: #111;
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 1.4em;
}

div.info p {
    margin: 0;
    padding: 3px 0 3px 20px;
}

div.error {
    background-color: #ddd;
    border: 1px solid #aaa;
    padding: 5px;
    margin: 10px 0 10px 0;
    font-size: 0.9em;
}

div.error h3 {
    color: #111;
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 1.4em;
}

div.error p {
    margin: 0;
    padding: 3px 0 3px 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.8em 0 0 0;
    padding: 0;
    font-family: 'Georgia', serif;
    color: #194c4e;
    text-align: left;
}

h2 {
    font-size: 2.5em;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
    margin: 0 0 0 -0.2em;
    padding: 0 0 0.05em 0.2em;
    font-variant: small-caps;
}

h3 {
    font-size: 1.7em;
    margin: 0.7em 0 0 -0.08em;
    font-weight: normal;
}

div.post h4 {
    font-size: 2em;
    font-weight: normal;
    margin: 0.6em 0 0 -0.2em;
    padding: 0 0 0 0;
    border-bottom: 1px solid #ccc;
    letter-spacing: 0.02em;
    font-variant: small-caps;
    text-decoration: none;
}

div.post h4 a {
    display: block;
    padding: 1px 5px 2px 0.3em;
    color: #194c4e;
    text-decoration: none;
}

div.post h4 a:hover {
    color: white;
    background-color: #194c4e;
}

div.post p.meta {
    margin: 0;
    padding: 0.2em 0 0.4em 0;
    font-size: 0.9em;
}

div.post div.text {
    padding: 0.4em 0 0.4em 0;
}

div.post p.related {
    margin: 0;
    padding: 0.3em;
    text-align: right;
}

#comments {
    list-style: none;
    margin: 10px 0 10px 30px;
    padding: 0;
}

#comments ul, #comments ol {
    border-top: 1px solid #ccc;
    list-style: none;
    margin: 10px 0 10px 40px;
    padding: 0;
}

#comments li {
    margin: 4px 0 4px 0;
    padding: 0;
}

#comments li + li {
    border-top: 1px solid #ccc;
    padding-top: 5px;
}

#comments p {
    margin: 0;
    padding: 5px;
}

#comments p.meta {
    margin: 0;
    padding: 0 0 0 1em;
    font-size: 0.9em;
    color: #555;
}

#comments div.blocked,
#comments div.blocked p.meta,
#comments div.blocked a {
    color: #aaa;
    background-color: #eee;
}

#comments div.blocked {
    border: 1px solid #ccc;
    padding: 3px 8px 3px 3px;
}
