{% extends "admin/layout.html" %}
{% block title %}{{ _("Eric The Fish") }}{% endblock %}
{% block contents %}
  <h2>{{ _("Eric The Fish") }}</h2>
  <p>{% trans %}
    This is Eric's configuration page. From here you can configure what
    Eric looks like.
  {% endtrans %}</p>
  <div class="erics-fish-selection">
  {%- for skin in skins %}
    <a href="?select={{ skin.name }}" class="eric-in-{{ skin.name}}{%
      if skin.active %} active{% endif %}"><span>{{ skin.name }}</span></a>
  {%- endfor %}
    <br style="clear: both">
  </div>
{% endblock %}
