{% extends "admin/layout.html" %}
{% block title %}{{ _("Configure Uploads") }}{% endblock %}
{% block contents %}
  <h1>{{ _("Configure Uploads") }}</h1>
  <div class="text">
    <p>{% trans %}
      From here you can configure the upload system.
    {% endtrans %}</p>
    <p>{% trans %}
      If you set the upload destination to a relative path it's
      expanded for the instance folder. If the folder does not
      exist TextPress will create a new one the first time you
      upload something into that folder.
    {% endtrans %}</p>
    <p>{% trans %}
      The mimetype mapping is useful if you want to upload files
      that have extensions that are unknown to the system TextPress
      is running on. The format for a rule is <code>pattern:mimetype</code>,
      each rule must be on it's own line or separated by semicolons.
      Patterns might use the asterisk for variable parts. Example:
      <code>*.plugin:application/x-textpress-plugin</code>.
    {% endtrans %}</p>
    <p>{% trans %}
      If you want to create thumbnails you have to have ImageMagick
      installed. Per default TextPress checks for ImageMagick on the
      system searchpath. If you don't have it installed there (for
      example if you are on a Windows Server) you have to defined the
      path to the executables below.
    {% endtrans %}</p>
  </div>
  <form action="" method="post">
    <dl>
      <dt>{{ _("Upload files to") }}</dt>
      <dd>{{ h.input_field('upload_dest', form.upload_dest) }}</dd>
      <dt>{{ _("Mimetype Mapping") }}</dt>
      <dd>{{ h.textarea('mimetypes', form.mimetypes, rows=5) }}</dd>
      <dt>{{ _("Path to ImageMagick") }}</dt>
      <dd>{{ h.input_field('im_path', form.im_path, size=30) }}
          {%- if im_version -%}
          <p>Found ImageMagick version <code>{{ im_version|e }}</code></p>
          {%- else -%}
          <p><strong>Cannot find ImageMagick</strong></p>
          {%- endif -%}
      </dd>
    </dl>
    <div class="actions">
      {{ csrf_protector }}
      <input type="submit" value="{{ _('Save') }}">
    </div>
  </form>
{% endblock %}
