{% extends "admin/layout.html" %}
{% block title %}{{ _("Delete File") }}{% endblock %}
{% block contents %}
  <h2>{{ _("Delete File") }}</h2>
  <form action="" method="post">
    {{ hidden_form_data }}
    <p>{% trans file='<a href="%s">%s</a>' % (
        url_for('blog/get_uploaded_file', filename=filename)|e,
        filename|e
      ) %}
      Do you really want to delete {{ file }}?
    {% endtrans %}</p>
    <input type="submit" name="cancel" value="{{ _('No') }}">
    <input type="submit" name="confirm" value="{{ _('Yes') }}">
  </form>
{% endblock %}
