{% extends "admin/layout.html" %}
{% block title %}{{ _("Upload File") }}{% endblock %}
{% block contents %}
  <h1>{{ _("Upload File") }}</h1>
  <p>{% trans %}
    Select a file you want to upload.
  {% endtrans %}</p>
  <form action="?{{ reporter.url_value|e }}" method="post" enctype="multipart/form-data">
    <dl>
      <dt>{{ _("File to upload") }}</dt>
      <dd><input type="file" name="file"></dd>
      <dt>{{ _("Rename to") }}</dt>
      <dd><input type="text" name="filename" size="30"></dd>
      <dt>{{ _("Overwrite") }}</dt>
      <dd>
        <input type="checkbox" id="overwrite" name="overwrite" value="yes">
        <label for="overwrite">
          {{ _("Overwrite an already uploaded file with the same name.") }}
        </label>
      </dd>
    </dl>
    <div class="uploadstatus"></div>
    <div class="actions">
      {{ csrf_protector }}
      <input type="submit" value="{{ _('Upload') }}">
    </div>
  </form>
  <script type="text/javascript">
    $(function() {
      var reporter = new UploadProgressBar('div.uploadstatus', {{
        reporter.transport_id|json }});
      reporter.connectTo('form');
    });
  </script>
{% endblock %}
