body {
    font-family: 'Georgia', 'Times New Roman', sans-serif;
    font-size: 15px;
    letter-spacing: -0.01em;
    line-height: 150%;
    text-align: center;
}

a {
    color: #084163;
    text-decoration: none;
}

a:hover {
    color: #3CA8E7;
}

pre, code, tt {
    font-family: 'Monaco', 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.8em;
}

pre {
    line-height: 170%;
}

div.page {
    width: 740px;
    margin: 30px auto 0 auto;
    text-align: left;
}

div.header {
    border-bottom: 1px solid black;
}

div.header h1 {
    font-size: 2.4em;
}

div.header a {
    text-decoration: none;
    color: #333;
}

ul.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.navigation li {
    margin: 0;
    padding: 0.15em 0 0.15em 0;
    float: left;
}

ul.navigation li a {
    margin: 0;
    padding: 0 10px 0 10px;
    line-height: 1.75em;
}

ul.navigation li.active {
    background-color: #fafafa;
    border-bottom: 0.15em solid black;
    padding-bottom: 0;
}

ul.navigation li.active a {
    color: black;
}

div.body {
    border-top: 1px solid black;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    clear: both;
}

div.contents {
    margin: 0 0 20px 0;
    width: 560px;
    float: right;
    text-align: justify;
}

div.aside {
    margin: 0 0 20px 0;
    padding: 3em 0 0 0;
    width: 160px;
    float: left;
}

div.aside h4 {
    margin: 1em 0 0.5em 0;
    font-size: 0.9em;
    padding: 0.1em 0 0.1em 0.5em;
    border-top: 1px solid black;
    background-color: #fafafa;
}

p {
    margin: 0.8em 0 0.5em 0;
}

h2 {
    margin: 0;
    padding: 0.7em 0 0.3em 0;
    font-size: 1.5em;
}

h4 {
    margin: 1em 0 -0.3em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: black!important;
}

h1 a.anchor, h2 a.anchor, h3 a.anchor, h4 a.anchor, h5 a.anchor, h6 a.anchor {
    display: none;
    margin: 0 0 0 0.3em;
    padding: 0 0.2em 0 0.2em;
    color: #aaa!important;
}

h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor,
h5:hover a.anchor, h6:hover a.anchor {
    display: inline;
}

h1 a.anchor:hover, h2 a.anchor:hover, h3 a.anchor:hover, h4 a.anchor:hover,
h5 a.anchor:hover, h6 a.anchor:hover {
    color: #777;
    background-color: #eee;
}

table {
    border-collapse: collapse;
    margin: 0 -0.5em 0 -0.5em;
}

table td, table th {
    padding: 0.2em 0.5em 0.2em 0.5em;
}

div.footer {
    padding: 0 0 20px 0;
    border-top: 1px solid black;
    clear: both;
    font-size: 0.9em;
    text-align: right;
}

p.manyimages {
    text-align: center;
}

p.manyimages img {
    border: none;
}

p.oneimage {
    text-align: center;
}

p.oneimage img {
    margin: 0 auto 0 auto;
    display: block;
    border: none;
}

ul.toc {
    margin: 1em 0 1em 0;
    padding: 0 0 0 0;
    list-style: none;
}

ul.toc li {
    margin: 0.5em 0 0.5em 0;
    font-size: 0.9em;
    line-height: 130%;
}

ul.toc li p {
    margin: 0;
}

ul.toc ul {
    margin: 0.2em 0 0.2em 0;
    padding: 0 0 0 1.8em;
}

ul.toc ul li {
    padding: 0;
}

div.day div.entry img {
    max-width: 100%;
}

div.day h3 {
    margin-bottom: 0;
}

div.day p.meta {
    margin: 0.1em 0 0.3em 0;
    font-size: 0.9em;
}

div.pagination {
    margin-top: 2em;
    padding-top: 0.5em;
    border-top: 1px solid black;
    text-align: center;
}
