<%inherit file="layout.html"/>
<%def name="title()">Download</%def>
<%def name="active_navigation_item()">download</%def>

<h2>Download TextPress</h2>
<p>
  Got interested?  Then you can download the most recent TextPress
  release in different formats:
</p>
<ul>
  <li><a href="#">TextPress-0.1-alpha.tar.gz</a></li>
  <li><a href="#">TextPress-0.1-alpha-py24.egg</a></li>
  <li><a href="#">TextPress-0.1-alpha-py25.egg</a></li>
</ul>
<p>
  The “.egg” files require <a href="#">easy_install</a>.  Detailed installation
  instructions can be found in the <a href="${url_for('documentation/show',
  slug='installation')}">documentation</a>.
</p>

<%def name="aside()">
  <p>
    If you are unsure if TextPress will work on your server or webhost
    have a look at the <a href="${url_for('about/requirements.html')}"
    >requirements page</a>.
  </p>
</%def>
