<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<%
    def highlight_if(active=None):
        if capture(self.active_navigation_item) == active:
            return ' class="active"'
        return ''
%>\
<html>
<head>
  <title>${self.title()} › TextPress</title>
  <link rel="stylesheet" type="text/css" href="${url_for('shared', file='style.css')}">
  <script type="text/javascript" src="${url_for('shared', file='jQuery.js')}"></script>
  <script type="text/javascript" src="${url_for('shared', file='TextPress.js')}"></script>
  ${self.html_head()}
</head>
<body>
  <div class="page">
    <div class="header">
      <h1><a href="${url_for('index.html')}">TextPress</a></h1>
    </div>
    <ul class="navigation">
      <li${highlight_if(active='index')}><a href="${url_for('index.html')}">Home</a></li>
      <li${highlight_if(active='about')}><a href="${url_for('about/index.html')}">About</a></li>
      <li${highlight_if(active='documentation')}><a href="${url_for('documentation/show', slug='overview')}">Documentation</a></li>
      <li${highlight_if(active='extend')}><a href="${url_for('extend/index.html')}">Extend</a></li>
      <li${highlight_if(active='community')}><a href="${url_for('community/index.html')}">Community</a></li>
      <li${highlight_if(active='download')}><a href="${url_for('download.html')}">Download</a></li>
    </ul>
    <div class="body">
      <div class="contents">${self.body()}</div>
      <div class="aside">${self.aside()}</div>
    </div>
    <div class="footer">
      TextPress is a <a href="http://pocoo.org/">Pocoo</a> project licensed under the
      GNU GPL.
    </div>
  </div>
</body>
</html>
<%def name="title()">Untitled</%def>
<%def name="active_navigation_item()">none</%def>
<%def name="aside()"></%def>
<%def name="html_head()"></%def>
