<%inherit file="layout.html"/>
<%!
  from datetime import datetime
%>
<%def name="title()">IRC Channel</%def>

<h2>IRC Channel</h2>
<p>
  TextPress is one of the <a href="http://pocoo.org/">pocoo</a> project and
  uses the <code>#pocoo</code> channel on irc.freenode.net for both
  development specific questions and user support.  
</p>
<p>
  You need an IRC Client to join it.  The following clients are widely known:
</p>
<ul>
  <li><a href="http://pidgin.im/">Pidgin</a>, Windows, Linux, OS X</li>
  <li><a href="http://xchat.org/">X-Chat</a>, Linux</li>
  <li><a href="http://mirc.com/">mirc</a>, Windows</li>
  <li><a href="http://colloquy.info/">colloquy</a>, OS X</li>
</ul>
<p>
  We also have a bot in the channel that logs the conversations.  You can
  have a look at older discussions <a href="http://dev.pocoo.org/projects/pocoo/irclogs"
  >in the logs</a>.
</p>

<%def name="aside()">
  ${parent.aside()}
  <h4>IRC Logs</h4>
  <ul>
    <li><a href="http://dev.pocoo.org/projects/pocoo/irclogs">Overview</a></li>
    <li><a href="http://dev.pocoo.org/projects/pocoo/irclogs/${datetime.utcnow(). \
      strftime('%Y/%m/%d')}">Today</a></li>
  </ul>
</%def>
