<%inherit file="../layout.html"/>
<%def name="active_navigation_item()">community</%def>
<%def name="aside()">
  <%
      def make_navigation_item(endpoint, title):
          if endpoint == request.endpoint:
              return '<strong>%s</strong>' % title
          return '<a href="%s">%s</a>' % (url_for(endpoint), title)
  %>
  <ul>
    <li>${make_navigation_item('community/index.html', 'Introduction')}</li>
    <li>${make_navigation_item('community/planet', 'The Planet')}</li>
    <li>${make_navigation_item('community/irc.html', 'IRC Channel')}</li>
    <li><a href="http://dev.pocoo.org/projects/textpress">Wiki</a></li>
  </ul>
</%def>
