<%inherit file="layout.html"/>
<%def name="title()">Planet</%def>
<%def name="html_head()">
  <link rel="alternate" type="application/atom+xml" title="TextPress Planet"
        href="${url_for('community/planet_feed')}">
</%def>

% for day in days:
  <div class="day">
    <h2 id="day-${day['date'].strftime('%d-%m-%Y'
    )}">${day['date'].strftime('%d %B %Y')}</h2>
    % for entry in day['entries']:
    <div class="entry">
      <h3 id="entry-${entry.id}"><a href="${entry.url|h}">${entry.title}</a></h3>
      <p class="meta">by <a href="${entry.blog.url|h}">${entry.blog.name|h}</a>
                      at ${entry.pub_date.strftime('%H:%m')}</p>
      <div class="text">${entry.text}</div>
    </div>
    % endfor
  </div>
% endfor

% if not days:
  <h2>Empty Planet</h2>
  <p>There are no entries in the planet yet.</p>
% endif

% if pagination.pages > 1:
  <div class="pagination">
  % if pagination.has_previous:
    <a href="${pagination.previous}">&laquo; Previous</a>
  % else:
    &laquo; Previous
  % endif
  | ${pagination.page} |
  % if pagination.has_next:
    <a href="${pagination.next}">Next &raquo;</a>
  % else:
    Next &raquo;
  % endif
  </div>
% endif

<%def name="aside()">
  ${parent.aside()}
  % if blogs:
  <h4>What's That?</h4>
  <p><small>
    Here a couple of TextPress related blogs are aggreagated into one
    big <a href="${url_for('community/planet_feed')}">feed</a> that is
    displayed here.
  </small></p>
  <h4>Blogs</h4>
  <ul>
    % for blog in blogs:
    <li><a href="${blog.url|h}">${blog.name|h}</a></li>
    % endfor
  </ul>
  % endif
</%def>
