{% extends "admin/layout.html" %}
{% block title %}{{ _("About TextPress") }}{% endblock %}
{% block contents %}
  <h2>{{ _("About TextPress") }}</h2>
  <div class="text">
    <p>
      TextPress is an open source content publishing platform emphasizing ease
      of use and extensibility. It provides an powerful internal infrastructure,
      an simple and an intuitive userinterface.
    </p>
    <p>
      TextPress is distributed under the GNU GPL 2 or any later version. The
      complete text of the license can be found online as well as in the LICENSE
      file included in the distribution.
    </p>
    <p>
      Copyright © 2007 by the Pocoo Team. Some rights reserved.
    </p>
  </div>
{% endblock %}
