{% extends "admin/layout.html" %}
{% block title %}{% trans "About The System" %}{% endblock %}
{% block contents %}
  <h2>{% trans "About The System" %}</h2>
  <h3>{% trans "Hosting Environment" %}</h3>
  <dl>
    <dt>TextPress Version</dt>
    <dd>{{ textpress_version|e }} {{ textpress_tag }}</dd>
    {%- if textpress_hg_checkout %}
      <dt>TextPress HG Node</dt>
      <dd>{{ textpress_hg_node|e }} <small>[this textpress installation runs
          a mercurial checkout of textpress]</small></dd>
    {%- endif %}
    <dt>Persistent Environment</dt>
    <dd>{{ 'yes' if hosting_env.persistent else 'no' }}</dd>
    <dt>Multithreaded</dt>
    <dd>
    {%- if hosting_env.multithreaded -%}
      {% trans count=hosting_env.thread_count %}yes ({{ count }} active threads){% endtrans %}
    {%- else -%}
      no
    {%- endif -%}
    </dd>
    <dt>Multiprocess</dt>
    <dd>{{ 'yes' if hosting_env.multiprocess else 'no' }}</dd>
    <dt>WSGI Version</dt>
    <dd>{{ hosting_env.wsgi_version|e }}</dd>
    <dt>Database URI</dt>
    <dd>{{ database_uri|e }}</dd>
    <dt>Instance Path</dt>
    <dd>{{ instance_path|e }}</dd>
  </dl>
  <h3>{% trans "URL Endpoints" %}</h3>
  <p>{% trans count=endpoints|count %}
    The following {{ count }} endpoints are registered on this instance:
  {% endtrans %}</p>
  <ul>
  {%- for endpoint in endpoints %}
    <li><strong>{{ endpoint.name|e }}</strong> -&gt; <small>{{ endpoint.rule|e }}</small></li>
  {%- endfor %}
  </ul>
  <h3>{% trans "Services" %}</h3>
  <p>{% trans %}
    The following servicepoints are registered on this instance to be callable
    via one of the available services.
    {% endtrans %}</p>
  <ul>
  {%- for service in servicepoints %}
    <li><strong>{{ service|e }}</strong></li>
  {%- endfor %}
  </ul>
  <h3>{% trans "Installed APIs" %}</h3>
  <p>{% trans %}
    The following APIs are installed on this blog instance. APIs marked with
    a star (*) are preferred.
  {% endtrans %}</p>
  <ul>
  {%- for api in apis %}
    <li><strong>{{ api.name|e }}</strong>
      <small>(provided by {{ api.endpoint|e }})</small> {% if api.preferred %}*{% endif %}
    </li>
  {%- else %}
    <li><em>no APIs installed</em></li>
  {%- endfor %}
  </ul>
  <h3>{% trans "Plugins" %}</h3>
  <ul class="plugin-table">
  {%- for plugin in plugins %}
    <li><dl>
      <dt>{% trans "Name" %}</dt>
      <dd>{{ plugin.metadata.name|e }}</dd>
      <dt>{% trans "Author" %}</dt>
      <dd>{{ plugin.metadata.author|e }}</dd>
      <dt>{% trans "Location" %}</dt>
      <dd>{{ plugin.path|e }}</dd>
      <dt>{% trans "UID" %}</dt>
      <dd>{{ plugin.name }}</dd>
      <dt>{% trans "Active" %}</dt>
      <dd>{{ "yes" if plugin.active else "no" }}</dd>
    </dl></li>
  {%- endfor %}
  </ul>
  <h3>{% trans "Configuration Variables" %}</h3>
  <table>
    <tr>
      <th>{% trans "Key" %}</th>
      <th>{% trans "Value" %}</th>
      <th>{% trans "Default" %}</th>
    </tr>
  {%- for item in configuration %}
    <tr>
      <td><strong>{{ item.key|e }}</strong></td>
      <td>{{ item.value|pprint|e }}</td>
      <td><small>{{ item.default|pprint|e }}</small></td>
    </tr>
  {%- endfor %}
  </table>
  <h3>{% trans "Template Globals" %}</h3>
  <ul>
  {%- for global in template_globals %}
    <li><strong>{{ global|e }}</strong></li>
  {%- endfor %}
  </ul>
  <h3>{% trans "Template Filters" %}</h3>
  <ul>
  {%- for filter_ in template_filters %}
    <li><strong>{{ filter_|e }}</strong></li>
  {%- endfor %}
  </ul>
  <h3>{% trans "Events" %}</h3>
  <div class="text">
    <p>{% trans %}
      TextPress uses an event system for intercomponent communication. Because
      the event system does not keep track of the events that are passed around
      there is no central index of all the event names.
    {% endtrans %}</p>
    {%- if can_build_eventmap %}
      <p>{% trans %}
        Your python version however supports the new AST compile mode which
        TextPress can use to build an event map based on the TextPress core and
        plugin sourcecode. This building process can take some time depending on
        the number of installed plugins.
      {% endtrans %}</p>
      <p><a href="{{ url_for('admin/eventmap') }}">{% trans "Build Event Map" %}</a></p>
    {%- endif %}
  </div>
{% endblock %}
