{% extends "admin/layout.html" %}
{% block title %}{% trans "Aprove Comment" %}{% endblock %}
{% block contents %}
  <h2>{% trans "Aprove Comment" %}</h2>
  <form action="" method="post">
    {{ hidden_form_data }}
    <p>{% trans comment_author=comment.author|e,
                reason=comment.blocked_msg|e %}
      Do you really want to aprove the comment by {{ comment_author }}?
    {% endtrans %}</p>
    <input type="submit" name="cancel" value="{% trans 'No' %}">
    <input type="submit" name="confirm" value="{% trans 'Yes' %}">
  </form>
{% endblock %}
