{% extends "admin/layout.html" %}
{% block title %}{% trans "Change Password" %}{% endblock %}
{% block contents %}
  <h2>{% trans "Change Password" %}</h2>
  <form action="" method="post">
    {{ hidden_form_data }}
    <dl>
      <dt>{% trans "Old Password" %}</dt>
      <dd>{{ h.input_field('old_password', type='password') }}</dd>
      <dt>{% trans "New Password" %}</dt>
      <dd>{{ h.input_field('new_password', type='password') }}</dd>
      <dt>{% trans "Repeat" %}</dt>
      <dd>{{ h.input_field('check_password', type='password') }}</dd>
    </dl>
    <div class="actions">
      <input type="submit" value="{% trans 'Change Password' %}">
      <input type="submit" name="cancel" value="{% trans 'Cancel' %}">
    </div>
  </form>
{% endblock %}
