{% extends "admin/layout.html" %}
{% set active_menu_item = ['dashboard', 'overview'] %}
{% block title %}{% trans "Change Password" %}{% endblock %}
{% block contents %}
  <h2>{% trans "Change Password" %}</h2>
  {%- if errors %}
    <div class="error message">
      <h3>{% trans "Error when changing the password" %}</h3>
      {%- for error in errors %}
        <p>{{ error|e }}</p>
      {%- endfor %}
      <p><a href="javascript:hideMessage()">{% trans "Hide message" %}...</a></p>
    </div>
  {%- endif %}
  <form action="" method="post">
    <dl>
      <dt>{% trans "Old Password" %}</dt>
      <dd>{{ h.input_field('old_password', type='password') }}</dd>
      <dt>{% trans "New Password" %}</dt>
      <dd>{{ h.input_field('new_password', type='password') }}</dd>
      <dt>{% trans "Repeat" %}</dt>
      <dd>{{ h.input_field('check_password', type='password') }}</dd>
    </dl>
    <div class="actions">
      <input type="submit" value="{% trans 'Change Password' %}">
      <input type="submit" name="cancel" value="{% trans 'Back To Dashboard' %}">
    </div>
  </form>
{% endblock %}
