{% extends "admin/layout.html" %}
{% block title %}{{ _("Delete Post") }}{% endblock %}
{% block contents %}
  <h2>{{ _("Delete Post") }}</h2>
  <form action="" method="post">
    <div>
      {{ hidden_form_data }}
      <p>{% trans post_title=post.title|e %}
        Do you really want to delete post “{{ post_title }}”?.
      {% endtrans %}</p>
      {%- if post.comments %}
      <p>{% trans comment_count=post.comments|count %}
        This will also delete {{ comment_count }} comment.
      {% pluralize %}
        This will also delete {{ comment_count }} comments.
      {% endtrans %}</p>
      {%- endif %}
      <input type="submit" name="cancel" value="{{ _('No') }}">
      <input type="submit" name="confirm" value="{{ _('Yes') }}">
    </div>
  </form>
{% endblock %}
