{% extends "admin/layout.html" %}
{% set active_menu_item = ['comments', 'edit'] %}
{% block title %}{% trans "Delete Comment" %}{% endblock %}
{% block contents %}
  <h2>{% trans "Delete Comment" %}</h2>
  <form action="" method="post">
    {{ csrf_protector }}
    <p>{% trans comment_title=comment.title|e, comment_author=comment.author|e %}
      Do you really want to delete comment "{{ comment_title }}"
      by {{ comment_author }}?.
    {% endtrans %}</p>
    <input type="submit" name="cancel" value="{% trans 'No' %}">
    <input type="submit" name="confirm" value="{% trans 'Yes' %}">
  </form>
{% endblock %}
