{% extends "admin/layout.html" %}
{% block title %}{{ _("Edit Comment") }}{% endblock %}
{% block contents %}
  <h2>{{ _("Edit Comment") }}</h2>
  {% if comment.is_pingback %}
  <p>
    This comment was submitted as pingback.  If you will change the URL
    of the comment the blog software that submitted this pingback will
    probably submit a new pingback after some time.
  <p>
  {% endif %}
  <form action="" method="post">
    <fieldset>
      <legend>{{ _("Author") }}</legend>
      {{ h.input_field('author', form.author) }}
    </fieldset>
    <fieldset>
      <legend>{{ _("E-Mail") }}</legend>
      {{ h.input_field('email', form.email) }}
    </fieldset>
    <fieldset>
      <legend>{{ _("Webpage") }}</legend>
      {{ h.input_field('www', form.www) }}
    </fieldset>
    <fieldset>
      <legend>{{ _("Text") }}</legend>
      {{ h.textarea('body', form.body, rows=7) }}
    </fieldset>
    <fieldset>
      <legend>{{ _("Parser") }}</legend>
      <select name="parser">
      {%- for parser_id, name in parsers %}
        <option value="{{ parser_id|e }}"{% if parser_id == form.parser
          %} selected{% endif %}>{{ name|e }}</option>
      {%- endfor %}
      </select>
    </fieldset>
    <fieldset>
      <legend>{{ _("Date") }}</legend>
      {{ h.input_field('pub_date', form.pub_date) }}
    </fieldset>
    <fieldset>
      <legend>{{ _("Block Comment") }}</legend>
      {{ h.checkbox('blocked', form.blocked) }}
      {% if comment.blocked %}
        <label for="blocked">{% trans reason=comment.blocked_msg|e
          %}block comment ({{ reason }}){% endtrans %}</label>
      {% else %}
        <label for="blocked">{{ _("block comment") }}</label>
      {% endif %}
    </fieldset>
    <div class="actions">
      {{ hidden_form_data }}
      <input type="submit" value="{{ _('Save') }}">
      <input type="submit" name="delete" value="{{ _('Delete') }}">
      <input type="submit" name="cancel" value="{{ _('Cancel') }}">
    </div>
  </form>
{% endblock %}
