{% extends "admin/layout.html" %}
{% block title %}{% trans "Edit User" %}{% endblock %}
{% block contents %}
  <h2>{% trans "Edit User" %}</h2>
  {%- if created %}
    <div class="information message">
      <h3>{% trans "User created successfully" %}</h3>
      <p>{% trans username=user.username|e %}The user {{ username }}
        was created successfully.{% endtrans %}</p>
      <p><a href="javascript:hideMessage()">{% trans "Hide message" %}...</a></p>
    </div>
  {%- endif %}
  <form action="" method="post">
    <fieldset>
      <legend>{% trans "Username" %}</legend>
      {{ h.input_field('username', form.username, size=30) }}
    </fieldset>
    <fieldset>
      <legend>{% trans "Password" %}</legend>
      {{ h.input_field('password', form.password, type='password', size=30) }}
    </fieldset>
    <fieldset>
      <legend>{% trans "E-Mail" %}</legend>
      {{ h.input_field('email', form.email, size=30) }}
    </fieldset>
    <fieldset>
      <legend>{% trans "First Name" %}</legend>
      {{ h.input_field('first_name', form.first_name, size=30) }}
    </fieldset>
    <fieldset>
      <legend>{% trans "Last Name" %}</legend>
      {{ h.input_field('last_name', form.last_name, size=30) }}
    </fieldset>
    {%- if not new_user %}
    <fieldset>
      <legend>{% trans "Display Name" %}</legend>
      <ul>
      {%- for tmpl, value in display_names %}
        <li>{{ h.radio_button('display_name', tmpl, form.display_name == tmpl,
          id='display_name_' + (loop.index|string)) }} <label for="display_name_{{
            loop.index }}">{{ value|e }}</label></li>
      {%- endfor %}
      </ul>
    </fieldset>
    <fieldset>
      <legend>{% trans "Description" %}</legend>
      {{ h.textarea('description', form.description, rows=5) }}
    </fieldset>
    {%- endif %}
    <fieldset>
      <legend>{% trans "Role" %}</legend>
      <ul>
      {%- for role_id, caption in roles %}
        <li>{{ h.radio_button('role', role_id, form.role == role_id,
          id='role_' + (role_id|string)) }} <label for="role_{{
            role_id }}">{{ caption|e }}</label></li>
      {%- endfor %}
      </ul>
    </fieldset>
    <div class="actions">
      {{ hidden_form_data }}
      <input type="submit" name="save" value="{% trans 'Save' %}">
      <input type="submit" name="save_and_continue" value="{% trans 'Save and continue editing' %}">
      {%- if not new_post %}
        <input type="submit" name="delete" value="{% trans 'Delete' %}">
      {%- endif %}
      <input type="submit" name="cancel" value="{% trans 'Cancel' %}">
    </div>
  </form>
{% endblock %}
