{% extends "admin/layout.html" %}
{% block title %}{{ _("Edit User") }}{% endblock %}
{% block contents %}
  <h2>{{ _("Edit User") }}</h2>
  {%- if created %}
    <div class="information message">
      <h3>{{ _("User created successfully") }}</h3>
      <p>{% trans username=user.username|e %}The user {{ username }}
        was created successfully.{% endtrans %}</p>
      <p><a href="javascript:hideMessage()">{{ _("Hide message") }}...</a></p>
    </div>
  {%- endif %}
  <form action="" method="post">
    <div class="formbox">
      <h3>{{ _("Username") }}</h3>
      {{ h.input_field('username', form.username, size=30) }}
    </div>
    <div class="formbox">
      <h3>{{ _("Password") }}</h3>
      {{ h.input_field('password', form.password, type='password', size=30) }}
    </div>
    <div class="formbox">
      <h3>{{ _("E-Mail") }}</h3>
      {{ h.input_field('email', form.email, size=30) }}
    </div>
    <div class="formbox">
      <h3>{{ _("First Name") }}</h3>
      {{ h.input_field('first_name', form.first_name, size=30) }}
    </div>
    <div class="formbox">
      <h3>{{ _("Last Name") }}</h3>
      {{ h.input_field('last_name', form.last_name, size=30) }}
    </div>
    {%- if not new_user %}
    <div class="formbox">
      <h3>{{ _("Display Name") }}</h3>
      <ul>
      {%- for tmpl, value in display_names %}
        <li>{{ h.radio_button('display_name', tmpl, form.display_name == tmpl,
          id='display_name_' + (loop.index|string)) }} <label for="display_name_{{
            loop.index }}">{{ value|e }}</label></li>
      {%- endfor %}
      </ul>
    </div>
    <div class="formbox">
      <h3>{{ _("Description") }}</h3>
      {{ h.textarea('description', form.description, rows=5) }}
    </div>
    {%- endif %}
    <div class="formbox">
      <h3>{{ _("Role") }}</h3>
      <ul>
      {%- for role_id, caption in roles %}
        <li>{{ h.radio_button('role', role_id, form.role == role_id,
          id='role_' + (role_id|string)) }} <label for="role_{{
            role_id }}">{{ caption|e }}</label></li>
      {%- endfor %}
      </ul>
    </div>
    <div class="actions">
      {{ hidden_form_data }}
      <input type="submit" name="save" value="{{ _('Save') }}">
      <input type="submit" name="save_and_continue" value="{{ _('Save and continue editing') }}">
      {%- if not new_post %}
        <input type="submit" name="delete" value="{{ _('Delete') }}">
      {%- endif %}
      <input type="submit" name="cancel" value="{{ _('Cancel') }}">
    </div>
  </form>
{% endblock %}
