{% extends "admin/layout.html" %}
{% block title %}{% trans "Edit Tag" %}{% endblock %}
{% block contents %}
  <h2>{% trans "Edit Tag" %}</h2>
  <form action="" method="post">
    {{ hidden_form_data }}
    <fieldset>
      <legend>{% trans "Slug" %}</legend>
      {{ h.input_field('slug', form.slug) }}
    </fieldset>
    <fieldset>
      <legend>{% trans "Name" %}</legend>
      {{ h.input_field('name', form.name) }}
    </fieldset>
    <fieldset>
      <legend>{% trans "Description" %}</legend>
      {{ h.textarea('description', form.description, rows=5) }}
    </fieldset>
    <div class="actions">
      <input type="submit" value="{% trans 'Save' %}">
      <input type="submit" name="delete" value="{% trans 'Delete' %}">
      <input type="submit" name="cancel" value="{% trans 'Cancel' %}">
    </div>
  </form>
{% endblock %}
