{% extends "admin/layout.html" %}
{% block title %}{{ _("Event Map") }}{% endblock %}
{% block contents %}
  <h1>{{ _("Event Map") }}</h1>
  <p>{% trans %}
    Here you can find all emitted events in the TextPress system.
  {% endtrans %}</p>
  <ul>
  {%- for event, places in get_map() %}
    <li><tt>{{ event|e }}</tt><ul>
    {%- for location, filename, lineno, help in places %}
      <li><p>{{ filename|e }}:{{ lineno }} <small>[{{ location }}]</small></p>
          {%- if help %}<blockquote><pre>{{ help|e }}</pre></blockquote>{% endif %}</li>
    {%- endfor %}
    </ul></li>
  {%- endfor %}
  </ul>
{% endblock %}
