{% extends "admin/layout.html" %}
{% block title %}{{ _("Import from WordPress") }}{% endblock %}
{% block contents %}
  <h1>{{ _("Import from WordPress") }}</h1>
  <p>{% trans %}
    This importer allows you to import posts and comments from your WordPress
    blog into your new TextPress blog.  Either upload your WordPress eXtended
    RSS (WXR) file created in the WordPress admin panel or give the importer
    the location of such a file on an external URL and it will import the posts,
    comments, custom fields, and categories into this blog.
  {% endtrans %}</p>
  <form action="?{{ reporter.url_value|e }}" method="post" enctype="multipart/form-data">
    <dl>
      <dt>{{ _("Dump Download URL") }}</dt>
      <dd>{{ h.input_field('download_url', form.download_url, size=40) }}</dd>
      <dt>{{ _("Upload Dump") }}</dt>
      <dd>{{ h.input_field('dump', form.dump, size=20, type='file') }}</dd>
    </dl>
    <div class="uploadstatus"></div>
    <div class="actions">
      {{ hidden_form_data }}
      <input type="submit" value="{{ _('Import') }}">
    </div>
  </form>
  <script type="text/javascript">
    $(function() {
      var reporter = new UploadProgressBar('div.uploadstatus', {{
        reporter.transport_id|json }}, {{
        _('Finishing upload, performing import...')|json }});
      reporter.connectTo('form');
    });
  </script>
{% endblock %}
