<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>{% block title %}{% endblock %} &mdash; {{ cfg.blog_title|e }} {{ _("Administration") }}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('core/shared', filename='admin/style.css') }}">
  {{ get_page_metadata() }}
  <script type="text/javascript" src="{{ url_for('core/shared', filename='js/Admin.js') }}"></script>
</head>
<body>
  <div class="header">
    <div class="title">{{ cfg.blog_title|e }} {{ _("Administration") }}</div>
    <div class="metanav">
      <a href="{{ url_for('blog/index')|e }}">{{ _("View Blog") }}</a> |
      <a href="{{ url_for('admin/change_password')|e }}">{{ _("Change Password") }}</a> |
      <a href="{{ url_for('admin/logout') }}">{{ _("Logout") }}</a>
    </div>
  </div>
  <div class="body">
    <ul class="navbar{% if not admin.ctxnavbar %} standalonebar{% endif %}">
    {%- for item in admin.navbar %}
      <li{% if item.active %} class="active"{% endif
        %}><a href="{{ item.url|e }}">{{ item.title|e }}</a></li>
    {%- endfor %}
    </ul>
    {%- if admin.ctxnavbar %}
    <ul class="ctxnavbar">
    {%- for item in admin.ctxnavbar %}
      <li{% if item.active %} class="active"{% endif
        %}><a href="{{ item.url|e }}">{{ item.title|e }}</a></li>
    {%- endfor %}
    </ul>
    {%- endif %}
    <div class="contents">
      {%- for message in admin.messages %}
        <div class="message message-{{ message.type }}">{{ message.msg }}</div>
      {%- endfor %}
      {{ emit_event('before-admin-contents-rendered', post) }}
      {% block contents %}{% endblock %}
      {{ emit_event('after-admin-contents-rendered', post) }}
    </div>
  </div>
  <div class="footer">
    <p>Powered by <a href="http://textpress.pocoo.org/">TextPress</a> {{
      textpress.version }} | &copy; Copyright {{ textpress.copyright|e }}</p>
  </div>
</body>
</html>
