<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>{{ _('Login') }} &mdash; {{ cfg.blog_title|e }} {{ _("Administration") }}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('core/shared', filename='admin/style.css') }}">
  {{ get_page_metadata() }}
</head>
<body class="login">
  <div class="login-box">
    <h2><span>{{ _("Login") }}</span></h2>
    {%- if logged_out %}
      <div class="notice">{{ _("Successfully logged out") }}</div>
    {%- elif error %}
      <div class="error">{{ error|e }}</div>
    {%- endif %}
    <form action="{{ url_for('admin/login') }}" method="post">
      <dl>
        <dt>{{ _("Username") }}</dt>
        <dd>{{ h.input_field('username', username) }}</dd>
        <dt>{{ _("Password") }}</dt>
        <dd>{{ h.input_field('password', '', 'password') }}</dd>
      </dl>
      <p>
        {{ h.checkbox('permanent') }}
        <label for="permanent">{{ _('Remember me') }}</label>
      </p>
      <div class="actions">
        {{ hidden_redirect_field }}
        <input type="submit" value="{{ _('Login') }}">
      </div>
    </form>
  </div>
</body>
</html>
