{% extends "admin/layout.html" %}
{% block title %}{% trans "Moderate Comment" %}{% endblock %}
{% block contents %}
    <h2>{% trans "Moderate Comment" %}</h2>
  <ul class="comments">
    <li class="comment {% cycle 'odd', 'even' %}{% if comment.blocked %} blocked{% endif %}">
      <p><strong>{{ comment.author }}</strong> |
         {% if comment.email %}<a href="mailto:{{ comment.email|e(true) }}">{{
           comment.email|e }}</a>{% else %}<em>no email given</em>{% endif %} |
         {% if comment.www %}<a href="{{ comment.www|e(true) }}">{{ comment.www|e
           }}</a> |{% endif %}
         IP: {{ comment.submitter_ip }}
         {%- if comment.blocked %}
           | {{ comment.blocked_msg }}
         {%- endif %}
         </p>
      {{ comment.body }}
      <p>{{ comment.pub_date|datetimeformat|e }}
         [ <a href="{{ url_for('admin/edit_comment', comment_id=comment.comment_id)|e
             }}">{% trans "Edit" %}</a> |
           <a href="{{ url_for('admin/delete_comment', comment_id=comment.comment_id)|e
             }}">{% trans "Delete" %}</a>
           {%- if comment.blocked %} | <a href="{{ url_for('admin/unblock_comment',
             comment_id=comment.comment_id)|e }}">{% trans "Unblock" %}</a>{% endif %}
         ]
         {% if not post %}&mdash; <a href="{{ url_for(comment.post)|e }}">{{
           comment.post.title|e }}</a>{% endif %}</p>
    </li>
  </ul>

  <form action="" method="POST">
    {{ hidden_form_data }}
    <fieldset>
    <label for="comment_status"><b>Status:</b></label><br/>
    <input type="radio" name="comment_status" value="0"
     {%- if comment.status == 0 %} checked="checked"{% endif %}>Unblocked</input>
    <input type="radio" name="comment_status" value="1"
     {%- if comment.status == 1 %} checked="checked"{% endif %}>Unmoderated</input>
    <input type="radio" name="comment_status" value="2"
     {%- if comment.status == 2 %} checked="checked"{% endif %}>Spam</input>
    <input type="radio" name="comment_status" value="3"
     {%- if comment.status == 3 %} checked="checked"{% endif %}>Blocked</input><br/>

    <label for="block_msg"><b>Block Message:</b></label><br/>
    <input type="text" name="block_msg" size="40"><br/>
    <input type="submit" name="cancel" value="Cancel"/>
    <input type="submit" name="update" value="Update"/>
    </fieldset>
  </form>
{% endblock %}
