{% extends "admin/layout.html" %}
{% block title %}{{ _("Overlay Editor") }}{% endblock %}
{% block contents %}
  <h1>{% trans overlay=active_template|e %}Edit Overlay "{{ overlay }}"{% endtrans %}</h1>
  <form action="" method="post">
    <textarea name="source" rows="15" cols="50">{{ source|e }}</textarea>
    <div class="actions">
      <select name="template">
      {%- for template in templates %}
        <option{% if template == active_template %} selected{% endif
          %}>{{ template|e }}</option>
      {%- endfor %}
      </select>
      <input type="submit" name="edit" value="{{ _('Open') }}">
      {% if has_overlay %}
        <input type="submit" value="{{ _('Save') }}">
        <input type="submit" name="delete" value="{{ _('Delete') }}">
      {% else %}
        <input type="submit" value="{{ _('Create') }}">
      {% endif %}
    </div>
  </form>
{% endblock %}
