{% extends "admin/layout.html" %}
{% block title %}{% trans "Overlay Editor" %}{% endblock %}
{% block contents %}
  <h2>{% trans overlay=active_template|e %}Edit Overlay "{{ overlay }}"{% endtrans %}</h2>
  <form action="" method="post">
    <textarea name="source" rows="15" cols="50">{{ source|e }}</textarea>
    <div class="actions">
      <select name="template">
      {%- for template in templates %}
        <option{% if template == active_template %} selected{% endif
          %}>{{ template|e }}</option>
      {%- endfor %}
      </select>
      <input type="submit" name="edit" value="{% trans 'Open' %}">
      {% if has_overlay %}
        <input type="submit" value="{% trans 'Save' %}">
        <input type="submit" name="delete" value="{% trans 'Delete' %}">
      {% else %}
        <input type="submit" value="{% trans 'Create' %}">
      {% endif %}
    </div>
  </form>
{% endblock %}
