{% extends "admin/layout.html" %}
{% block title %}{{ _("Pages Configuration") }}{% endblock %}
{% block contents %}
  <h2>{{ _("Pages Configuration") }}</h2>
  <p>{% trans %}
    Configure your pages settings.
  {% endtrans %}</p>
  <form action="" method="post">
    <dl>
      <dt>{{ _("Show page title") }}</dt>
      <dd>
        {{ h.checkbox('show_title', form.show_title) }}
        <span class="note">{% trans %}Show the title of the page on top of the page body{% endtrans %}</span>
      </dd>
      <dt>{{ _("Show children") }}</dt>
      <dd>
        {{ h.checkbox('show_children', form.show_children) }}
        <span class="note">{% trans %}Show child-pages on the bottom of the page body{% endtrans %}</span>
      </dd>
    <div class="actions">
      <input type="submit" value="Save">
      {{ csrf_protector }}
    </div>
  </form>
{% endblock %}

