{% extends "admin/layout.html" %}
{% block title %}{% trans "Plugin Management" %}{% endblock %}
{% block contents %}
  <h2>{% trans "Plugin Management" %}</h2>
  <form action="" method="post" enctype="multipart/form-data">
    <p>{% trans %}
      Plugins extend the functionality of the TextPress system. Because of
      security and convinience reasons you have to enable plugins by hand.
      Some plugins could conflict with each other so it's up to you to
      decide which plugins you want to enable. In case of doubt have a look
      into the installation instructions of the plugin you've added.
    {% endtrans %}</p>
    <table class="plugins">
      <tr>
        <th class="plugin">{% trans "Plugin" %}</th>
        <th class="version">{% trans "Version" %}</th>
        <th class="description">{% trans "Description" %}</th>
        <th class="active">{% trans "Activate" %}</th>
      </tr>
    {%- for plugin in plugins %}
      <tr class="plugin-{{ 'active' if plugin.active else 'inactive' }}">
        <td class="plugin">{{ plugin.html_display_name }}</td>
        <td class="version">{{ (plugin.version or '?')|e }}</td>
        <td class="description">{{ plugin.description }}
          <span class="author">{% trans author=plugin.html_author_info %}By {{
            author }}{% endtrans %}</span>
          {%- if not plugin.builtin_plugin and not plugin.active %}
            [<a href="{{ url_for('admin/remove_plugin', plugin=plugin.name)
              }}">{% trans "Remove plugin" %}</a>]
          {% endif -%}
        </td>
        <td class="active">{{ h.checkbox('plugin_' + plugin.name, plugin.active) }}
            <label for="plugin_{{ plugin.name }}"></label></td>
      </tr>
    {%- endfor %}
    </table>
    <h3>{% trans "Add New Plugin" %}</h3>
    <p>{% trans %}
      If you have a plugin as TextPress <tt>.plugin</tt> file you can upload it
      to your TextPress instance using the following form. Plugins added this way
      can also be completely removed.
    {% endtrans %}</p>
    <p><input type="file" name="new_plugin"></p>
    <div class="actions">
      {{ csrf_protector }}
      <input type="submit" value="{% trans 'Update' %}">
      {%- if guard_enabled %}
      <input type="submit" name="disable_guard" value="{% trans 'Disable Plugin Guard' %}">
      {%- else %}
      <input type="submit" name="enable_guard" value="{% trans 'Enable Plugin Guard' %}">
      {%- endif %}
    </div>
  </form>
{% endblock %}
