{% extends "admin/layout.html" %}
{% block title %}{% trans "Plugin Management" %}{% endblock %}
{% block contents %}
  <h2>{% trans "Plugin Management" %}</h2>
  <form action="" method="post">
    {{ csrf_protector }}
    <p>{% trans %}
      Plugins extend the functionality of the TextPress system. Because of
      security and convinience reasons you have to enable plugins by hand.
      Some plugins could conflict with each other so it's up to you to
      decide which plugins you want to enable. In case of doubt have a look
      into the installation instructions of the plugin you've added.
    {% endtrans %}</p>
    <table class="plugins">
      <tr>
        <th class="plugin">{% trans "Plugin" %}</th>
        <th class="version">{% trans "Version" %}</th>
        <th class="description">{% trans "Description" %}</th>
        <th class="active">{% trans "Active" %}</th>
      </tr>
    {%- for plugin in plugins %}
      <tr class="plugin-{{ 'active' if plugin.active else 'inactive' }}">
        <td class="plugin">{{ plugin.html_display_name }}</td>
        <td class="version">{{ (plugin.version or '?')|e }}</td>
        <td class="description">{{ plugin.description }}
          <span class="author">{% trans author=plugin.html_author_info %}By {{
            author }}{% endtrans %}</span></td>
        <td class="active">{{ h.checkbox('plugin_' + plugin.name, 'yes', plugin.active) }}
            <label for="plugin_{{ plugin.name }}"></label></td>
      </tr>
    {%- endfor %}
    </table>
    <div class="actions">
      <input type="submit" value="{% trans 'Update Plugin Configuration' %}">
      {%- if show_reload_button %}
      <input type="submit" name="trigger_reload" value="{% trans 'Reload Plugins' %}">
      {%- endif %}
    </div>
  </form>
{% endblock %}
