{% extends "admin/layout.html" %}
{% block title %}{{ _("Manage Tags") }}{% endblock %}
{% block contents %}
  <h1>{{ _("Manage Tags") }}</h1>
  <table>
    <tr>
      <th>{{ _("ID") }}</th>
      <th>{{ _("Slug") }}</th>
      <th>{{ _("Name") }}</th>
      <th>{{ _("Tagged Posts") }}</th>
    </tr>
  {%- for tag in tags %}
    <tr class="{{ loop.cycle('odd', 'even') }}">
      <td>{{ tag.tag_id }}</td>
      <td><a href="{{ url_for('admin/edit_tag', tag_id=tag.tag_id)|e }}">{{
          tag.slug|e }}</a></td>
      <td>{{ tag.name|e }}</td>
      <td>{{ tag.posts.count() }}</td>
    </tr>
  {%- else %}
    <tr><td colspan="4">{{ _("No tags.") }}</td></tr>
  {%- endfor %}
  </table>
  <form action="{{ url_for('admin/new_tag')|e }}" method="get">
    <div class="actions">
      <input type="submit" value="{{ _('New Tag') }}">
    </div>
  </form>
  {%- if pagination.necessary %}
  <div class="pagination">
    {{ pagination.generate() }}
  </div>
  {%- endif %}
{% endblock %}
