{% extends "admin/layout.html" %}
{% block title %}{{ _("Manage Users") }}{% endblock %}
{% block contents %}
  <h2>{{ _("Manage Users") }}</h2>
  <table>
    <tr>
      <th>{{ _("ID") }}</th>
      <th>{{ _("Username") }}</th>
      <th>{{ _("Realname") }}</th>
      <th>{{ _("Mail") }}</th>
      <th>{{ _("Role") }}</th>
    </tr>
  {%- for user in users %}
    <tr class="{{ loop.cycle('odd', 'even') }}">
      <td>{{ user.user_id }}</td>
      <td><a href="{{ url_for('admin/edit_user', user_id=user.user_id)|e }}">{{
          user.username|e }}</a></td>
      <td>{{ user.first_name|e }} {{ user.last_name|e }}</td>
      <td>{{ user.email|e }}</td>
      <td>{{ user.role_as_string|e }}</td>
    </tr>
  {%- endfor %}
  </table>
  <form action="{{ url_for('admin/new_user')|e }}" method="get">
    <div class="actions">
      <input type="submit" value="{{ _('New User') }}">
    </div>
  </form>
  {%- if pagination.necessary %}
  <div class="pagination">
    Go to: {{ pagination.generate() }}
  </div>
  {%- endif %}
{% endblock %}
