{% extends "admin/layout.html" %}
{% block title %}{{ _("Manage Posts") }}{% endblock %}
{% block contents %}
  <h2>{{ _("Manage Posts") }}</h2>
  {% if drafts %}
  <div class="drafts-box">
    <strong>{% trans count=drafts|length %}Your draft:{% pluralize
      %}Your drafts:{% endtrans %}</strong>
    {%- for draft in drafts %}
      <a href="{{ url_for('admin/edit_post', post_id=draft.post_id) }}">{{ draft.title|e }}</a>
      {%- if not loop.last %},{% endif %}
    {%- endfor %}
  </div>
  {% endif %}
  <table class="postlist">
    <tr>
      <th>{{ _("ID") }}</th>
      <th>{{ _("Title") }}</th>
      <th>{{ _("Author") }}</th>
      <th>{{ _("Tags") }}</th>
      <th>{{ _("Comments") }}</th>
      <th>{{ _("Date") }}</th>
    </tr>
  {%- for post in posts %}
  <tr class="{{ loop.cycle('odd', 'even') }}{% if post.is_draft %} draft{% endif %}">
      <td>{{ post.post_id }}</td>
      <td><a href="{{ url_for('admin/edit_post', post_id=post.post_id)|e }}">{{
          post.title|e }}</a></td>
      <td>{{ post.author.display_name|e }}</td>
      <td>{% for tag in post.tags %}<a href="{{ url_for(tag)|e }}">{{ tag.name|e }}</a>
          {%- if not loop.last %}, {% endif %}
        {%- else %}{{ _("untagged") }}{% endfor %}</td>
      <td><a href="{{ url_for('admin/show_comments', post_id=post.post_id)|e }}">{{ post.comments|count }}</a></td>
      <td>{{ post.pub_date|datetimeformat|e }}</td>
    </tr>
  {%- else %}
    <tr><td colspan="4">{{ _("No posts.") }}</td></tr>
  {%- endfor %}
  </table>
  <form action="{{ url_for('admin/new_post')|e }}" method="get">
    <div class="actions">
      <input type="submit" value="{{ _('New Post') }}">
    </div>
  </form>
  {%- if pagination.necessary %}
  <div class="pagination">
    Go to: {{ pagination.generate() }}
  </div>
  {%- endif %}
{% endblock %}
