{% extends "admin/layout.html" %}
{% block title %}{% trans "Manage Users" %}{% endblock %}
{% block contents %}
  <h2>{% trans "Manage Users" %}</h2>
  <table>
    <tr>
      <th>{% trans "ID" %}</th>
      <th>{% trans "Username" %}</th>
      <th>{% trans "Realname" %}</th>
      <th>{% trans "Mail" %}</th>
      <th>{% trans "Role" %}</th>
    </tr>
  {%- for user in users %}
    <tr class="{% cycle 'odd', 'even' %}">
      <td>{{ user.user_id }}</td>
      <td><a href="{{ url_for('admin/edit_user', user_id=user.user_id)|e }}">{{
          user.username|e }}</a></td>
      <td>{{ user.first_name|e }} {{ user.last_name|e }}</td>
      <td>{{ user.email|e }}</td>
      <td>{{ user.role_as_string|e }}</td>
    </tr>
  {%- endfor %}
  </table>
  <div class="actions">
    <form action="{{ url_for('admin/new_user')|e(true) }}" method="get">
      <input type="submit" value="{% trans 'New User' %}">
    </form>
  </div>
{% endblock %}
