{% extends "admin/layout.html" %}
{% block title %}{% trans "Manage Tags" %}{% endblock %}
{% block contents %}
  <h2>{% trans "Manage Tags" %}</h2>
  <table>
    <tr>
      <th>{% trans "ID" %}</th>
      <th>{% trans "Slug" %}</th>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Tagged Posts" %}</th>
    </tr>
  {%- for tag in tags %}
    <tr class="{% cycle 'odd', 'even' %}">
      <td>{{ tag.tag_id }}</td>
      <td><a href="{{ url_for('admin/edit_tag', tag_id=tag.tag_id)|e }}">{{
          tag.slug|e }}</a></td>
      <td>{{ tag.name|e }}</td>
      <td>{{ tag.posts|count }}</td>
    </tr>
  {%- else %}
    <tr><td colspan="4">{% trans "No tags." %}</td></tr>
  {%- endfor %}
  </table>
  <div class="actions">
    <form action="{{ url_for('admin/new_tag')|e(true) }}" method="get">
      <input type="submit" value="{% trans 'New Tag' %}">
    </form>
  </div>
{% endblock %}
