{% extends "admin/layout.html" %}
{% set active_menu_item = ['comments', 'overview'] %}
{% block title %}{% trans "Manage Comments" %}{% endblock %}
{% block contents %}
  {% if post %}
    <h2>{% trans post_title=post.title|e %}Comments for Post "{{
      post_title }}"{% endtrans %}</h2>
    <p>
      <a href="{{ url_for('admin/show_comments') }}">{% trans "show all comments" %}</a>,
      <a href="{{ url_for('admin/edit_post', post_id=post.post_id) }}">edit post</a> or
      <a href="{{ url_for(post)|e }}">show post</a>.
    </p>
  {% else %}
    <h2>{% trans "Manage Comments" %}</h2>
  {% endif %}
  <table>
    <tr>
      <th>{% trans "ID" %}</th>
      <th>{% trans "Author" %}</th>
      <th>{% trans "Date" %}</th>
      {% if not post %}<th>{% trans "Post" %}</th>{% endif %}
    </tr>
  {%- for comment in comments %}
    <tr class="{% cycle 'odd', 'even' %}">
      <td>{{ comment.comment_id }}</td>
      <td><a href="{{ url_for('admin/edit_comment', comment_id=comment.comment_id)|e }}">{{
          comment.author|e }}</a> &lt;{{ comment.email|e }}&gt;</td>
      <td>{{ comment.pub_date|datetimeformat|e }}</td>
      {% if not post %}<td><a href="{{ url_for(comment.post)|e }}">{{ comment.post.title|e }}</a></td>{% endif %}
    </tr>
  {%- else %}
    <tr><td colspan="4">{% trans "No comments." %}</td></tr>
  {%- endfor %}
  </table>
{% endblock %}
