{% extends "admin/layout.html" %}
{% block title %}{% trans "Manage Comments" %}{% endblock %}
{% block contents %}
  {% if post %}
    <h2>{% trans post_title=post.title|e %}Comments for Post "{{
      post_title }}"{% endtrans %}</h2>
    <p>
      <a href="{{ url_for('admin/show_comments') }}">{% trans "show all comments" %}</a>,
      <a href="{{ url_for('admin/edit_post', post_id=post.post_id) }}">edit post</a> or
      <a href="{{ url_for(post)|e }}">show post</a>.
    </p>
  {% else %}
    <h2>{% trans "Manage Comments" %}</h2>
  {% endif %}
  <ul class="comments">
  {%- for comment in comments %}
    <li class="comment {% cycle 'odd', 'even' %}{% if comment.blocked %} blocked{% endif %}">
      <p><strong>{{ comment.author }}</strong> |
         <a href="mailto:{{ comment.email|e(true) }}">{{ comment.email|e }}</a> |
         {% if comment.www %}<a href="{{ comment.www|e(true) }}">{{ comment.www|e
           }}</a> |{% endif %}
         IP: {{ comment.submitter_ip }}
         {%- if comment.blocked %}
           | {{ comment.blocked_msg }}
         {%- endif %}
         </p>
      {{ comment.body }}
      <p>{{ comment.pub_date|datetimeformat|e }}
         [ <a href="{{ url_for('admin/edit_comment', comment_id=comment.comment_id)|e
             }}">{% trans "Edit" %}</a> |
           <a href="{{ url_for('admin/delete_comment', comment_id=comment.comment_id)|e
             }}">{% trans "Delete" %}</a>
           {%- if comment.blocked %} | <a href="{{ url_for('admin/unblock_comment',
             comment_id=comment.comment_id)|e }}">{% trans "Unblock" %}</a>{% endif %}
         ]
         {% if not post %}&mdash; <a href="{{ url_for(comment.post)|e }}">{{
           comment.post.title|e }}</a>{% endif %}</p>
    </li>
  {%- else %}
    <li>{% trans "No comments." %}</li>
  {%- endfor %}
  </ul>
{% endblock %}
