{% extends "admin/layout.html" %}
{% block title %}{{ _("Manage Posts") }}{% endblock %}
{% block contents %}
  <h1>{{ _("Manage Posts") }}</h1>
  {% if drafts %}
  <div class="drafts-box">
    <strong>{% trans count=drafts|length %}Your draft:{% pluralize
      %}Your drafts:{% endtrans %}</strong>
    {%- for draft in drafts %}
      <a href="{{ url_for('admin/edit_post', post_id=draft.post_id) }}">{{ draft.title|e }}</a>
      {%- if not loop.last %},{% endif %}
    {%- endfor %}
  </div>
  {% endif %}
  <table class="postlist">
    <tr>
      <th class="id">{{ _("ID") }}
      <th class="title">{{ _("Title") }}
      <th class="author">{{ _("Author") }}
      <th class="tags">{{ _("Tags") }}
      <th class="comments">{{ _("Comments") }}
      <th class="date">{{ _("Date") }}
  {%- for post in posts %}
    <tr class="{{ loop.cycle('odd', 'even') }}{% if post.is_draft %} draft{% endif %}">
      <td class="id">{{ post.post_id }}
      <td class="title"><a href="{{ url_for('admin/edit_post', post_id=post.post_id)
        }}">{{ post.title|e }}</a>
      <td class="author"><a href="{{ url_for('admin/edit_user',
        user_id=post.author.user_id) }}">{{ post.author.display_name|e }}</a>
      <td class="tags">{% for tag in post.tags
        %}<a href="{{ url_for('admin/edit_tag', tag_id=tag.tag_id) }}">{{ tag.name|e }}</a>
        {%- if not loop.last %}, {% endif %}
        {%- else %}{{ _("untagged") }}{% endfor %}
      <td class="comments"><a href="{{
        url_for('admin/show_post_comments', post_id=post.post_id)
        }}">{{ post.comments|count }}</a>
      <td class="date">{{ post.pub_date|datetimeformat('short') }}
  {%- else %}
    <tr><td colspan="4">{{ _("No posts.") }}</td></tr>
  {%- endfor %}
  </table>
  <form action="{{ url_for('admin/new_post') }}" method="get">
    <div class="actions">
      <input type="submit" value="{{ _('New Post') }}">
    </div>
  </form>
  {%- if pagination.necessary %}
  <div class="pagination">
    {{ pagination.generate() }}
  </div>
  {%- endif %}
{% endblock %}
