{% extends "admin/layout.html" %}
{% block title %}{{ _("Theme Manager") }}{% endblock %}
{% block contents %}
  <h1>{{ _("Theme Manager") }}</h1>
  <div class="themes">
  {%- for theme in themes %}
    <div class="themewrapper">
      <div class="theme{% if theme.current %} current{% endif %}">
        <h2><a href="?select={{ theme.uid|e }}&amp;{{ csrf_protector.url_value|e
          }}">{{ theme.name }}</a></h2>
        {%- if theme.has_preview %}
          <img src="{{ theme.preview_url|e }}" alt="preview image" class="preview">
        {%- endif %}
        <div class="detail">
          <blockquote><p>{{ theme.description|e }}</p></blockquote>
          {%- if theme.author %}
            <p class="author">{% trans author=theme.author|e %}by {{ author }}{% endtrans %}</p>
          {%- endif %}
        </div>
      </div>
    </div>
  {%- endfor %}
  <br style="clear: both">
  </div>
{% endblock %}
