{% extends "admin/layout.html" %}
{% block title %}{% trans "Theme Manager" %}{% endblock %}
{% block contents %}
  <h2>{% trans "Theme Manager" %}</h2>
  <div class="themes">
  {%- for theme in themes %}
    <div class="themewrapper">
      <div class="theme{% if theme.current %} current{% endif %}">
        <h3><a href="?select={{ theme.uid|e }}&amp;{{ csrf_protector.url_value|e
          }}">{{ theme.name }}</a></h3>
        {%- if theme.has_preview %}
          <img src="{{ theme.preview_url|e }}" alt="preview image" class="preview">
        {%- endif %}
        <div class="detail">
          <blockquote><p>{{ theme.description|e }}</p></blockquote>
          {%- if theme.author %}
            <p class="author">{% trans author=theme.author|e %}by {{ author }}{% endtrans %}</p>
          {%- endif %}
        </div>
      </div>
    </div>
  {%- endfor %}
  <br style="clear: both">
  </div>
  <h3>{% trans "Template Overlays" %}</h3>
  <p>{% trans %}
    If you want to do minor modifications of themes you don't have to create
    a theme plugin for that.  The overlay editor allows you to modify parts of
    the current template without overriding any template data.  This is useful
    if you for example want to modify the sidebar, the page not found template
    or other parts.
  {% endtrans %}</p>
  <form action="{{ url_for('admin/overlays') }}" method="get">
    <div class="actions">
      <input type="submit" value="{% trans 'Edit Overlays' %}">
    </div>
  </form>
{% endblock %}
