{% extends "admin/layout.html" %}
{% block title %}{% trans "Configure Widgets" %}{% endblock %}
{% block contents %}
  <h2>{% trans "Configure Widgets" %}</h2>
  {% if not manageable %}
    <p>{% trans %}
      The overlay "_widgets.html" which is used by the widget manager
      was altered by hand in a way that the widget manager cannot extract
      the widget calls. If you want to continue maintaining it from the
      overlay editor that's perfectly fine. If you however want to use
      this widget editor again you have to remove the overlay for the
      template "_widgets.html".
    {% endtrans %}</p>
  {% else %}
    <script type="text/javascript">
      var $all_widgets = {{ all_widgets|jsonencode }};
      var $active_widgets = {{ active_widgets|jsonencode }};

      (function() {
        var widget_map = {};
        var widget_positions = []; 
        var next_widget_id = 0;

        $(function() {
          $('#config-panel').hide();  

          for (var type in $all_widgets) {
            $('<li class="widget"></li>')
              .attr('id', 'widget_' + type)
              .text($all_widgets[type])
              .appendTo('#inventory')
              .click(closure(addWidget, type, {}, true))
            };
        
          $.each($active_widgets, function() {
            addWidget(this[0], this[1], false);
          });
        });

        function closure(func) {
          var args = $.makeArray(arguments);
          return function() {
            args[0].apply(this, args.slice(1));
          }
        }

        function addWidget(widget_type, args, animate) {
          var widget_id = next_widget_id++;
          widget_positions.push(widget_id);
          widget_map[widget_id] = [widget_type, args];
          var el = $('#widget_' + widget_type)
            .clone()
            .attr('id', 'w_' + widget_id)
            .prepend($('<div class="buttons">')
              .append($('<span class="button">up</span>')
                       .click(closure(moveWidgetUp, widget_id)))
              .append($('<span class="button">down</span>')
                       .click(closure(moveWidgetDown, widget_id)))
              .append($('<span class="button">remove</span>')
                       .click(closure(removeWidget, widget_id)))
              .append($('<span class="button">configure</span>')
                       .click(closure(configureWidget, widget_id))))
          if (animate)
            el.hide().fadeIn('slow');
          el.appendTo('#sidebar');
        }

        function configureWidget(widget_id) {
          $('#config-panel div.pane').empty();
          $('#config-panel').fadeIn('slow');

          var widget = widget_map[widget_id];
          var submit_url = TextPress.BLOG_URL + '/admin/options/widgets';
          var url_args = {
            configure:  widget[0],
            args:       $.dumpJSON(widget[1]),
            initial:    'yes'
          }
          $.getJSON(submit_url, url_args, updateView);

          function updateView(data) {
            $('#config-panel div.pane').html(data.body);
            $('#config-panel div.pane form')
              .submit(function() {
                $(this).ajaxSubmit({
                  url:      submit_url,
                  data:     url_args,
                  dataType: 'json',
                  success: function(data) {
                    if (data.args !== null) {
                      widget_map[widget_id][1] = data.args;
                      $('#config-panel').fadeOut('fast');
                    }
                    else
                      updateView(data);
                  }
                });
                return false;
              })
              .append($('<div class="actions">')
                .append($('<input type="submit" value="Save">'))
                .append(' ')
                .append($('<input type="submit" name="cancel" value="Cancel">')
                  .click(function() {
                    $('#config-panel').fadeOut('slow');
                    return false;
                  })));
          }
        }

        function removeWidget(widget_id) {
          widget_positions.splice(widget_positions.indexOf(widget_id), 1);
          $('#w_' + widget_id).slideUp('fast', function() {
            $(this).remove();
          });
        }

        function moveWidgetUp(widget_id) {
          moveWidgetInQueue(widget_id, -1);
          var el = $('#w_' + widget_id);
          el.hide().insertBefore(el.prev()).fadeIn();
        }

        function moveWidgetDown(widget_id) {
          moveWidgetInQueue(widget_id, 1);
          var el = $('#w_' + widget_id);
          el.hide().insertAfter(el.next()).fadeIn();
        }

        function moveWidgetInQueue(widget_id, change) {
          var idx = widget_positions.indexOf(widget_id);
          widget_positions.splice(idx, 1);
          widget_positions.splice(idx + change, 0, widget_id);
        }
      })();
    </script>
    <form action="" method="post" onsubmit="write_active_widgets()">
      <input type="hidden" name="widgets" id="active_widgets" value="">
      <ul id="sidebar" class="droppable"></ul>
      <div id="config-panel">
        <h3>{% trans "Configure Widget" %}</h3>
        <div class="pane"></div>
      </div>
      <div class="inventory">
        <h3>{% trans "Available Widgets" %}</h3>
        <ul id="inventory"></ul>
        <br style="clear: both">
      </div>
      <div class="actions">
        <input type="submit" value="{% trans 'Save' %}">
      </div>
    </form>
  {% endif %}
{% endblock %}
