{% extends "admin/layout.html" %}
{% block title %}{{ _("Configure Widgets") }}{% endblock %}
{% block contents %}
  <h2>{{ _("Configure Widgets") }}</h2>
  {% if not manageable %}
    <p>{% trans %}
      The overlay "_widgets.html" which is used by the widget manager
      was altered by hand in a way that the widget manager cannot extract
      the widget calls. If you want to continue maintaining it from the
      overlay editor that's perfectly fine. If you however want to use
      this widget editor again you have to remove the overlay for the
      template "_widgets.html".
    {% endtrans %}</p>
  {% else %}
    <script type="text/javascript">
      var $all_widgets = {{ all_widgets|json }};
      var $active_widgets = {{ active_widgets|json }};
    </script>
    {% if default %}
      <p>{% trans %}
        At the moment you are using the default widget set provided by the
        theme. If you manage widget yourself TextPress will use your widgets
        instead of the default ones.
      {% endtrans %}</p>
    {% endif %}
    <form action="" method="post" id="widget-form">
      <ul id="sidebar" class="droppable">
        <li>{{ _("No Widgets") }}</li>
      </ul>
      <div id="config-panel">
        <h3>{{ _("Configure Widget") }}</h3>
        <div class="pane"></div>
      </div>
      <div class="inventory">
        <h3>{{ _("Available Widgets") }}</h3>
        <ul id="inventory">
          <li>{{ _("No Widgets") }}</li>
        </ul>
        <br style="clear: both">
      </div>
      <div class="actions">
        <input type="hidden" name="widgets" id="active-widgets" value="">
        <input type="submit" value="{{ _('Save') }}">
        {%- if not default %}
        <input type="submit" name="revert" value="{{ _('Use Theme Defaults') }}">
        {%- endif %}
      </div>
    </form>
  {% endif %}
{% endblock %}
