{% extends "layout.html" %}
{% block title %}{% trans "Download TextPress" %}{% endblock %}
{% block contents %}
  <h2>Download TextPress</h2>
  <p>
    Interested in TextPress? Wait a minute! Just to clearify something:
    TextPress is still in the alpha stage and it's not the best idea to
    use it on public hosts. The only way to get the source code by now is
    checking it out from the mercurial repository and it could be that
    temporary debugging code found its way into the source tree for some
    checkins.
  </p>
  <p>
    If you really plan to use TextPress for your webpage head over to the
    <code>#textpress</code> channel on freenode and ask for a stable hg
    node which you can check out.
  </p>
  <h3>Getting The Source</h3>
  <p>
    You need to have mercurial installed until the beta version is released.
    After installing mercurial you can execute the following command in a
    terminal to download the most recent version of mercurial:
  </p>
  <pre>$ hg clone http://hg.pocoo.org/textpress-main textpress</pre>
  <p>
    Afterwards you can install the package by executing this command:
  </p>
  <pre>$ python setup.py install</pre>
  <h3>Setting up a Development Instance</h3>
  <p>
    For development and debugging purposes you have to setup a TextPress
    instance. You have to do the same for public blogs too but this process
    will become simpler once the beta is out. So far you have to use the
    terminal to get TextPress running:
  </p>
  <pre>$ mkdir my_instance
$ textpress-management.py my_instance serve</pre>
  <p>
    If you plan to develop plugins it's a good idea to enable the
    automatic code reloader with the <code>-r</code> parameter and
    the debugging system with the <code>-d</code> parameter.
  </p>
  <p>
    The first time you start up textpress you will see an installation
    wizzard. Just follow the steps and you're done.
  </p>
  <h3>Installing Plugins</h3>
  <p>
    TextPress plugins come as <code>.plugin</code> files. Of course you can
    use a normal zip compatible extractor but TextPress can do that on its
    own too. First you have to download the plugin to your computer, afterwards
    log into the TextPress admin panel and go to the "Options -&gt; Plugins"
    menu. There you can then upload the plugin. The plugin is then installed
    into the instance folder where you can also view the source code if you
    like.
  </p>
  <h3>Creating Plugin Packages</h3>
  <p>
    If you want to create plugin packages to distribute plugins you can do
    so by using the textpress-management utiltity:
  </p>
  <pre>$ textpress-management.py dump_plugin plugin_name</pre>
  <p>
    This will copy the dumped plugin into your current working directory
    with the proposed filename. You can also replace the dump_plugin parameter
    with upload_plugin to push the plugin to the TextPress server and register
    it in the plugin repository. The latter however requires a <a href="{{
      url_for('textpress_webpage/register_developer') }}">developer login</a>.
  </p>
{% endblock %}
