{% extends "layout.html" %}
{% block title %}{% trans "Plugin Repository" %}{% endblock %}
{% block contents %}
  <h2>Plugin Repository</h2>
  <p>
    Welcome in the plugin repository. Here you can find all the plugins
    that are currently available for TextPress. You can also publish your
    own plugins here if you want.
  </p>
  <h3>Plugin List</h3>
  <ul>
  {%- for plugin in plugins %}
    <li><a href="{{ url_for(plugin) }}">{{ plugin.latest.display_name|e
      }}</a> {{ plugin.latest.version }} by {{ plugin.latest.html_author }}</li>
  {%- endfor %}
  </ul>
  <h3>Uploading Plugins</h3>
  <p>
    If you want to upload your plugin and register it in the TextPress
    plugin repository you have to have a developer login. If don't have one you
    can <a href="{{ url_for('textpress_webpage/register_developer')
      }}">get one in a few seconds</a>. After creating your developer id
    you can start uploading plugins from the <code>textpress-management.py</code>
    utility.
  </p>
  <p>
    Just make sure that your plugin is associated with a TextPress instance and
    execute the following command from within a terminal:
  </p>
  <pre>python textpress-management.py &lt;path to instance&gt; upload_plugin &lt;plugin name&gt;</pre>
  <p>
    The management utility will ask you for your credentials and upload and
    register the plugin then. If you upload a plugin that is already registered
    it checks if your developer id is the same. If it is it either replaces the
    current version or registeres a new one. If a new version is uploaded it's
    also announced on the index page.
  </p>
{% endblock %}
