{% extends "layout.html" %}
{% block title %}{{ plugin.latest.display_name|e }}{% endblock %}
{% block contents %}
  <h2>{{ plugin.latest.display_name|e }}</h2>
  <p>{{ plugin.latest.description }}</p>
  <dl>
    <dt>Author</dt>
    <dd>{{ plugin.latest.html_author }}</dd>
    <dt>License</dt>
    <dd>{{ plugin.latest.license|e }}</dd>
    <dt>Latest Version</dt>
    <dd>{{ plugin.latest.version|e }}</dd>
    {%- if plugin.latest.plugin_url %}
      <dt>Plugin URL</dt>
      <dd>{{ plugin.latest.plugin_url|urlize }}</dd>
    {%- endif %}
  </dl>
  <p><a href="{{ plugin.latest.download_url|e }}">download now</a></p>
  {% if plugin.old_versions %}
    <h3>Older Versions</h3>
    <ul>
    {% for version in plugin.old_versions %}
      <li><a href="{{ version.download_url|e }}">{{ version.display_name|e }} {{ 
        version.version|e }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
