{% extends "admin/layout.html" %}
{% block title %}{{ _("Approve Comment") }}{% endblock %}
{% block contents %}
  <h1>{{ _("Approve Comment") }}</h1>
  {% call form() %}
    <div>
      <p>{% trans comment_author=form.comment.author|e,
                  reason=form.comment.blocked_msg|e %}
        Do you really want to approve the comment by {{ comment_author }}?
      {% endtrans %}</p>
      <input type="submit" name="confirm" value="{{ _('Yes') }}">
      <input type="submit" name="cancel" value="{{ _('No') }}">
    </div>
  {% endcall %}
{% endblock %}
