{% extends "admin/layout.html" %}
{% block title %}{{ _("Change Password") }}{% endblock %}
{% block contents %}
  <h1>{{ _("Change Password") }}</h1>
  <form action="" method="post">
    <dl>
      <dt>{{ _("Old Password") }}</dt>
      <dd>{{ h.input_field('old_password', type='password') }}</dd>
      <dt>{{ _("New Password") }}</dt>
      <dd>{{ h.input_field('new_password', type='password') }}</dd>
      <dt>{{ _("Repeat") }}</dt>
      <dd>{{ h.input_field('check_password', type='password') }}</dd>
    </dl>
    <div class="actions">
      {{ hidden_form_data }}
      <input type="submit" value="{{ _('Change Password') }}">
      <input type="submit" name="cancel" value="{{ _('Cancel') }}">
    </div>
  </form>
{% endblock %}
