{% extends "admin/layout.html" %}
{% block title %}{{ _("Change Password") }}{% endblock %}
{% block contents %}
  <h1>{{ _("Change Password") }}</h1>
  {%- call form() %}
    <dl>
      <dt>{{ _("Old Password") }}
      <dd>{{ form.old_password }}
      <dt>{{ _("New Password") }}
      <dd>{{ form.new_password }}
      <dt>{{ _("Repeat") }}
      <dd>{{ form.check_password }}
    </dl>
    <div class="actions">
      <input type="submit" value="{{ _('Change Password') }}">
      <input type="submit" name="cancel" value="{{ _('Cancel') }}">
    </div>
  {%- endcall %}
{% endblock %}
