{% extends "admin/layout.html" %}
{% block title %}{{ _("Delete Comment") }}{% endblock %}
{% block contents %}
  <h1>{{ _("Delete Comment") }}</h1>
  {% call form() %}
    <div>
      <p>{% trans comment_author=form.comment.author|e %}
        Do you really want to delete the comment by {{ comment_author }}?.
      {% endtrans %}</p>
      <input type="submit" name="cancel" value="{{ _('No') }}">
      <input type="submit" name="confirm" value="{{ _('Yes') }}">
    </div>
  {% endcall %}
{% endblock %}
