{% extends "admin/layout.html" %}
{% block title %}{{ _("Delete Category") }}{% endblock %}
{% block contents %}
  <h1>{{ _("Delete Category") }}</h1>
  {% call form() %}
    <div>
      <p>{% trans category_name=form.category.name|e %}
        Do you really want to delete category “{{ category_name }}”?
      {% endtrans %}</p>
      <input type="submit" name="cancel" value="{{ _('No') }}">
      <input type="submit" name="confirm" value="{{ _('Yes') }}">
    </div>
  {% endcall %}
{% endblock %}
