{% extends "admin/layout.html" %}
{% block title %}{{ _("Delete Page") }}{% endblock %}
{% block contents %}
  <h1>{{ _("Delete Page") }}</h1>
  {%- call form() %}
    <p>{% trans page_title=form.post.title|e %}
      Do you really want to delete page “{{ page_title }}”?
    {% endtrans %}</p>
    {%- if form.post.comments %}
    <p>{% trans comment_count=form.post.comments|count %}
      This will also delete {{ comment_count }} comment.
    {% pluralize %}
      This will also delete {{ comment_count }} comments.
    {% endtrans %}</p>
    {%- endif %}
    <div class="actions">
      <input type="submit" name="cancel" value="{{ _('No') }}">
      <input type="submit" name="confirm" value="{{ _('Yes') }}">
    </div>
  {%- endcall %}
{% endblock %}
