{% extends "admin/layout.html" %}
{% block title %}{{ _("Delete Import Dump") }}{% endblock %}
{% block contents %}
  <h1>{{ _("Delete Import Dump") }}</h1>
  <form action="" method="post">
    <div>
      <p>{% trans dump_title=dump.title|e %}
        Do you really want to delete the imported dump “{{ dump_title }}”?.
      {% endtrans %}</p>
      {{ hidden_form_data }}
      <input type="submit" name="cancel" value="{{ _('No') }}">
      <input type="submit" name="confirm" value="{{ _('Yes') }}">
    </div>
  </form>
{% endblock %}
