{% extends "admin/layout.html" %}
{% block title %}{{ _("Delete User") }}{% endblock %}
{% block contents %}
  <h1>{{ _("Delete User") }}</h1>
  {% call form() %}
    <p>{% trans username=form.user.username|e %}
      Do you really want to delete the user “{{ username }}”?
    {% endtrans %}</p>
    <p>{% trans post_count=form.user.posts.count() %}
      What should happen to the {{ post_count }} post this user wrote?
    {% pluralize %}
      What should happen to the {{ post_count }} posts this user wrote?
    {% endtrans %}</p>
    {{ form.action() }}
    <p>{{ form.reassign_to.label() }}: {{ form.reassign_to() }}
    <div class="actions">
      <input type="submit" name="cancel" value="{{ _('No') }}">
      <input type="submit" name="confirm" value="{{ _('Yes') }}">
    </div>
  {% endcall %}
{% endblock %}
