{% extends "admin/layout.html" %}
{% block title %}{{ _("Write Post") }}{% endblock %}
{% block contents %}
  <h1>{{ _("Write Post") }}</h1>
  {% if drafts %}
  <div class="drafts-box">
    <strong>{% if not post or post.is_draft %}
      {% trans count=drafts|length %}Your other draft:{% pluralize
      %}Your other drafts:{% endtrans %}
    {% else %}
      {% trans count=drafts|length %}Your draft:{% pluralize
      %}Your drafts:{% endtrans %}
    {% endif %}</strong>
    {%- for draft in drafts %}
      <a href="{{ url_for('admin/edit_post', post_id=draft.post_id) }}">{{ draft.title|e }}</a>
      {%- if not loop.last %},{% endif %}
    {%- endfor %}
  </div>
  {% endif %}
  <form action="" method="post">
    <div class="formbox formbox-title">
      <h3>{{ _("Title") }}</h3>
      {{ h.input_field('title', form.title, size=36) }}
    </div>
    <div class="formbox">
      <h3>{{ _("Post") }}</h3>
      {{ h.textarea('text', form.text, rows=20) }}
    </div>
    <div class="formbox toggleable">
      <h3>{{ _("Post Status") }}</h3>
      <ul>
      {%- for state, caption in post_status_choices %}
        <li>{{ h.radio_button('post_status', state, form.post_status == state,
               id='post_status_' + (state|string)) }} <label for="post_status_{{
               state }}">{{ caption|e }}</label></li>
      {%- endfor %}
      </ul>
    </div>
    <div class="formbox toggleable collapsed">
      <h3>{{ _("Categories") }}</h3>
      {{ h.input_field('add_category') }}
      <input type="submit" value="{{ _('Add') }}">
      <ul>
      {%- for category in categories %}
        <li>{{ h.checkbox('categories', category.slug in form.categories, category.slug,
               id='categories_' + category.slug) }} <label for="categories_{{
          category.slug }}">{{ category.name|e }}</label></li>
      {%- else %}
        <li><em>{{ _('no categories created yet') }}</em></li>
      {%- endfor %}
      </ul>
    </div>
    <div class="formbox toggleable collapsed">
      <h3>{{ _("Parser") }}</h3>
      <select name="parser">
      {%- for parser_id, name in parsers %}
        <option value="{{ parser_id|e }}"{% if parser_id == form.parser
          %} selected{% endif %}>{{ name|e }}</option>
      {%- endfor %}
      </select>
    </div>
    <div class="formbox toggleable collapsed">
      <h3>{{ _("Discussion") }}</h3>
      <ul>
        <li>{{ h.checkbox('comments_enabled', form.comments_enabled)
          }} <label for="comments_enabled">{{ _("Allow comments") }}</label></li>
        <li>{{ h.checkbox('pings_enabled', form.pings_enabled)
          }} <label for="pings_enabled">{{ _("Allow pings") }}</label></li>
        <li>{{ h.checkbox('ping_from_text', form.ping_from_text)
          }} <label for="ping_from_text">{{ _("Ping all URLs in the text") }}</label></li>
      </ul>
    </div>
    <div class="formbox toggleable collapsed">
      <h3>{{ _("Publication Date") }}</h3>
      {{ h.input_field('pub_date', form.pub_date) }}
    </div>
    <div class="formbox toggleable collapsed">
      <h3>{{ _("Post Slug") }}</h3>
      {{ h.input_field('slug', form.slug) }}
    </div>
    {%- if can_change_author %}
      <div class="formbox toggleable collapsed">
        <h3>{{ _("Author") }}</h3>
        {{ h.input_field('author', form.author) }}
      </div>
    {%- endif %}
    {% if not new_post %}
      <p class="preview">
        <a href="{{ url_for(post) }}">{{ _("View Post") }}</a>
      </p>
    {% endif %}
    <div class="post-bookmarklets"></div>
    <div class="actions">
      {{ hidden_form_data }}
      <input type="submit" name="save" value="{{ _('Save') }}">
      <input type="submit" name="save_and_continue" value="{{ _('Save and continue editing') }}">
      {%- if not new_post %}
        <input type="submit" name="delete" value="{{ _('Delete') }}">
      {%- endif %}
      <input type="submit" name="cancel" value="{{ _('Cancel') }}">
    </div>
  </form>
{% endblock %}
