{% extends "admin/layout.html" %}
{% from "admin/_form_helpers.html" import render_formbox %}
{% block title %}{{ _("Edit Category") }}{% endblock %}
{% block contents %}
  <h1>{{ _("Edit Category") }}</h1>
  {% call form() %}
    {{ render_formbox(form['name'], toggleable=false) }}
    <div class="formbox">
      <h3>{{ form.description.label() }}</h3>
      {{ form.description(rows=5) }}
    </div>
    {{ render_formbox(form.slug) }}
    <div class="actions">
      <input type="submit" value="{{ _('Save') }}">
      <input type="submit" name="delete" value="{{ _('Delete') }}">
      <input type="submit" name="cancel" value="{{ _('Cancel') }}">
    </div>
  {% endcall %}
{% endblock %}
