{% extends "admin/layout.html" %}
{% block title %}{{ _("Import from WordPress") }}{% endblock %}
{% block contents %}
  <h1>{{ _("Import from WordPress") }}</h1>
  <p>{% trans %}
    This importer allows you to import posts and comments from your WordPress
    blog into your new Zine blog.  Either upload your WordPress eXtended
    RSS (WXR) file created in the WordPress admin panel or give the importer
    the location of such a file on an external URL and it will import the posts,
    comments, custom fields, and categories into this blog.
  {% endtrans %}</p>
  {% call form(enctype='multipart/form-data') %}
    <dl>
      {{ form.download_url.as_dd() }}
      <dt>{{ _("Upload Dump") }}</dt>
      <dd><input type="file" name="dump" size="20"></dd>
    </dl>
    <div class="actions">
      <input type="submit" value="{{ _('Import') }}">
    </div>
  {% endcall %}
{% endblock %}
