<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>{{ _('Login') }} &mdash; {{ cfg.blog_title|e }} {{ _("Administration") }}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('core/shared', filename='admin/style.css') }}">
  {{ get_page_metadata() }}
</head>
<body class="login">
  <div class="login-box">
    <h2><span>{{ _("Login") }}</span></h2>
    {%- if form.all_errors %}
      <div class="error">{{ form.all_errors[0]|e }}</div>
    {%- endif %}
    {# we use render rather than just calling because we want
       our own stylish error reporting on this page. #}
    {% call form.render(action=url_for('admin/login')) %}
      <dl>
        <dt>{{ _("Username") }}
        <dd>{{ form.user.render() }}
        <dt>{{ _("Password") }}
        <dd>{{ form.password.render() }}
      </dl>
      <p>
        {{ form.permanent.render() }}
        <label for="f_permanent">{{ _('Remember me') }}</label>
      </p>
      <script type="text/javascript">
        $('#f_username').focus();
      </script>
      <div class="actions">
        <input type="submit" value="{{ _('Login') }}">
      </div>
    {%- endcall %}
  </div>
</body>
</html>
