{% extends "admin/layout.html" %}
{% block title %}{{ _("Report Comments As Not SPAM") }}{% endblock %}
{% block contents %}
  <h1>{{ _("Report Comments As Not SPAM") }}</h1>
  {% call form() %}
    <div>
      <p>{{ _('Do you really want to report the selected comments as NOT SPAM?') }}</p>
      {{ form.selected_comments.hidden() }}
      <input type="hidden" name="confirm" value="yes">
      <input type="submit" name="cancel" value="{{ _('No') }}">
      <input type="submit" name="ham" value="{{ _('Yes') }}">
    </div>
  {% endcall %}
{% endblock %}
