{% extends "admin/layout.html" %}
{% block title %}{{ _("Pages") }}{% endblock %}
{% block contents %}
  <h1>{{ _("Pages") }}</h1>
  <table class="pagelist">
    <tr>
      <th>{{ _("ID") }}</th>
      <th>{{ _("Key") }}</th>
      <th>{{ _("Title") }}</th>
      <th>{{ _("Navigation Position") }}</th>
    </tr>
    {%- for page in pages %}
    <tr class="{{ loop.cycle('odd', 'even') }}">
      <td>{{ page.page_id }}</td>
      <td><a href="{{ url_for('admin/write_page', page_id=page.page_id) }}">{{ page.key }}</a></td>
      <td><a href="{{ url_for('admin/write_page', page_id=page.page_id) }}">{{ page.title }}</a></td>
      <td>{% if page.navigation_pos %}{{ page.navigation_pos }}{% else %}{% trans %}No position given{% endtrans %}{% endif %}</td>
    </tr>
    {%- else %}
    <tr><td colspan="4">{{ _("No pages.") }}</td></tr>
    {%- endfor %}
  </table>
  <form action="{{ url_for('admin/write_page')|e }}" method="get">
    <div class="actions">
      <input type="submit" value="{{ _('New Page') }}">
    </div>
  </form>
{% endblock %}
