{% macro render_comment(comment, add_reply_link=false) %}
  {%- if comment.visible %}
    <div class="comment{% if comment.is_pingback %} pingback{% endif %}{%
      if comment.blocked %} blocked{% endif %}" id="comment-{{ comment.comment_id }}">
      <div class="text">{{ comment.body }}</div>
      <p class="meta">{% if comment.is_pingback %}{{ _("Pingback by") }}
        {%- else %}{{ _("Comment by") }}{% endif %} {% if comment.www
        %}<a href="{{ comment.www|e }}">{{ comment.author|e }}</a>{%
        else %}{{ comment.author|e }}{% endif %} &mdash; {{
        comment.pub_date|datetimeformat }} |
        <a href="#comment-{{ comment.comment_id }}">#</a>
      {%- if add_reply_link %}
        - <a href="javascript:Zine.replyToComment({{ comment.comment_id
          }})" title="{{ _('reply to this comment') }}">re</a>
      {% endif -%}
      </p>
    </div>
  {% else %}
    {%- if comment.status %}<p><em>Comment waiting for approval</em></p>{%- endif %}
  {%- endif %}
{%- endmacro %}

{% macro render_comment_editor(post, form) %}
  {%- call form(class='comments') %}
    {{ emit_event('before-comment-editor-rendered', post) }}
    {%- if not form.small_form %}
    <dl>
      <dt><label for="f_author">{{ _("Name*") }}</label></dt>
      <dd>{{ form.author }}</dd>
      <dt><label for="f_email">{{ _("Mail* (not published)") }}</label></dt>
      <dd>{{ form.email }}</dd>
      <dt><label for="f_www">{{ _("Website") }}</label></dt>
      <dd>{{ form.www }}</dd>
    </dl>
    {%- endif %}
    <div>{{ form.body }}{{ form.parent }}</div>
    <div id="comment-message">{# used for the reply callback #}</div>
    {{ emit_event('before-comment-editor-buttons-rendered', post) }}
    <div class="actions">
      <input type="submit" value="{{ _('Submit Comment') }}">
      <input type="reset" value="{{ _('Reset Form') }}">
    </div>
    {{ emit_event('after-comment-editor-rendered', post) }}
  {%- endcall %}
{% endmacro %}
