<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html lang="{{ cfg.language|e }}">
<head>
  <title>{% block title %}{% endblock %} &mdash; {{ cfg.blog_title|e }}</title>
  {{- get_page_metadata() }}
  {%- block head %}{% endblock %}
</head>
<body>
  <div class="header">
    <h1>{{ cfg.blog_title|e }}</h1>
    <p class="description">{{ cfg.blog_tagline }}</p>
  </div>
  <div class="contents">
    {{ emit_event('before-contents-rendered') }}
    {% block contents %}{% endblock %}
    {{ emit_event('after-contents-rendered') }}
  </div>
  <div class="footer">{% trans zine='<a href="http://zine.pocoo.org/">Zine</a>'
    %}Proudly powered by {{ zine }}.{% endtrans %}</div>
  </div>
</body>
</html>
