{% extends "layout.html" %}
{% block title %}{% trans category=category.name|e %}Show "{{ category }}"{% endtrans %}{% endblock %}
{% from "_post.html" import render_post %}
{% block contents %}
  <h2>{% trans category=category.name|e %}Entries in the Category "{{ category }}"{% endtrans %}</h2>
  {% if posts %}
  {%- for post in posts %}
    {{ render_post(post) }}
  {%- endfor %}
  {% else %}
  <p>
    {{ _('No public posts found') }}
  </p>
  {% endif %}
  {%- if pagination.necessary %}
  <div class="pagination">
    {{ pagination.generate() }}
  </div>
  {%- endif %}
{% endblock %}
