{% extends "layout.html" %}
{% block title %}{% trans tag=tag.name|e %}Show "{{ tag }}"{% endtrans %}{% endblock %}
{% from "_entry.html" import render_entry %}
{% block contents %}
  <h2>{% trans tag=tag.name|e %}Entries tagged "{{ tag }}"{% endtrans %}</h2>
  {%- for post in posts %}
    {{ render_entry(post) }}
  {% else %}
  <p>
    {{ _('No public posts found') }}
  </p>
  {%- endfor %}
  {%- if pagination.necessary %}
  <div class="pagination">
    {{ pagination.generate() }}
  </div>
  {%- endif %}
{% endblock %}
