body {
    font-family: 'Times New Roman', sans-serif;
    font-size: 1.1em;
    letter-spacing: 0.04em;
    background-color: #aaa;
    padding: 2em 0 2em 0;
    margin: 0;
}

div.page {
    height: 100%;
    background-color: white;
    border: 3px solid #888;
    width: 45em;
    padding: 0 0 0.5em 0;
    margin: 0 auto 0 auto;
}

div.header {
    background-color: #eee;
    margin: 0 0 0 0;
    background-image: url(banner.png);
    background-repeat: no-repeat;
    background-position: 10px 20px;
    height: 110px;
}

div.header h1 {
    display: none;
}

h2, a {
    color: #1d5b66;
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:hover {
    color: #143f47;
    border-bottom: 1px solid #ccc;
    background-color: #f2f2f2;
}

h2 {
    margin: 1em 0 0.5em -1em;
    padding: 0;
}

p {
    margin: 0 0 0.2em 0;
    text-align: justify;
}

div.contents {
    margin: 0 2em 2em 3em;
}

dl dt {
    font-weight: bold;
}

input {
    font-family: 'Times New Roman', sans-serif;
    font-size: 1.1em;
    letter-spacing: 0.04em;
    font-weight: bold;
    border: 1px solid #ccc;
    color: #143f47;
    border-bottom-width: 3px;
    padding: 3px;
    width: 28em;
}

input.submit {
    background-color: #f2f2f2;
    border: 1px outset #aaa;
    width: 6em;
    cursor: pointer;
}

form {
    padding: 10px;
}

div.error {
    border: 1px solid #982a2a;
    background-color: #da7a7a;
    padding: 0.5em;
    margin: 1em 0 1em 0;
}

div.error h3 {
    margin: 0;
    padding: 0;
    color: #802424;
    font-size: 1.4em;
}

div.error p {
    padding: 0.3em 1em 0 1em;
}
