{% extends "layout.html" %}
{% block body %}
  <h2>{{ _('Welcome To The TextPress Setup') }}</h2>
  <p>{% trans %}
    Welcome to the TextPress Setup. This Wizard will ask you some
    basic questions and setup TextPress for you.
  {% endtrans %}</p>
  <p>{% trans %}
    The setup tried to determine the language from your browser
    settings.  If you want to step through the wizzard in another
    language select it from the dropdown menu below and press next.
  {% endtrans %}</p>
  <p><select name="_lang">
  {%- for code, name in languages %}
    <option value="{{ code }}"{% if code == lang %} selected{% endif %}>{{ name|e }}</option>
  {%- endfor %}
  </select></p>
{% endblock %}
