<!DOCTYPE HTML>
<html>
<head>
  <title>{% block title %}{% endblock %} &mdash; TextPress</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('textpress_webpage/shared', filename='style.css') }}">
  {{ get_page_metadata() }}
</head>
<body>
  <div class="pagewrapper">
    <div class="page">
      <div class="header">
        <h1><a href="{{ url_for('blog/index')|e }}">TextPress</a></h1>
        <h2>open source content publishing platform</h2>
      </div>
      <div class="navigation">
        <ul>
          <li><a href="{{ url_for('blog/index') }}">News</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Download</a></li>
          <li><a href="{{ url_for('textpress_webpage/plugin_index') }}">Plugin Repository</a></li>
        </ul>
      </div>
      <div class="contents">
        {% block contents %}{% endblock %}
      </div>
    </div>
    <div class="footer">
      <p>
        Proudly powered by <a href="http://textpress.pocoo.org/">TextPress</a>
        {%- if req.user.is_manager %}
          | <a href="{{ url_for('admin/index')|e }}">{% trans 'Admin Panel' %}</a>
        {%- endif %}
      </p>
    </div>
  </div>
</body>
</html>
