{% macro render_comment_editor(post) %}
  <form action="#leave-reply" class="comments" method="post">
    {{ emit_event('before-comment-editor-rendered', post) }}
    {%- if not request.user.is_manager %}
    <dl>
      <dt><label for="name">{% trans "Name*" %}</label></dt>
      <dd>{{ h.input_field('name', form.name) }}</dd>
      <dt><label for="email">{% trans "Mail* (not published)" %}</label></dt>
      <dd>{{ h.input_field('email', form.email) }}</dd>
      <dt><label for="www">{% trans "Website" %}</label></dt>
      <dd>{{ h.input_field('www', form.www) }}</dd>
    </dl>
    {%- endif %}
    <div>{{ h.textarea('body', form.body) }}
         {{ h.input_field('parent', form.parent, 'hidden') }}</div>
    <div id="comment-message">{# used for the reply callback #}</div>
    {%- if errors %}
      <div class="error">
        <h3>{% trans 'Could not Post Comment' %}</h3>
        {%- for error in errors %}
          <p>{{ error }}</p>
        {%- endfor %}
      </div>
    {%- endif %}
    {{ emit_event('before-comment-editor-buttons-rendered', post) }}
    <div class="actions">
      <input type="submit" value="{% trans 'Submit Comment' %}">
      <input type="reset" value="{% trans 'Reset Form' %}">
    </div>
    {{ emit_event('after-comment-editor-rendered', post) }}
  </form>
{% endmacro %}
