<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>{% block title %}{% endblock %} &mdash; {{ cfg.blog_title|e }}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('core/shared', filename='stanley/style.css') }}">
  {{ get_page_metadata() }}
</head>
<body>
  <div class="header">
    <h1>{{ cfg.blog_title|e }}</h1>
    <p class="description">{{ cfg.blog_tagline }}</p>
  </div>
  <div class="contents">
    {% block contents %}{% endblock %}
  </div>
  <div class="footer">
    Proudly powered by <a href="http://textpress.pocoo.org/">TextPress</a>.
  </div>
</body>
</html>
