{% extends "layout.html" %}
{% include "_comment.html" %}
{% block title %}{{ post.title|e }}{% endblock %}
{% block contents %}
  <div class="post">
    <h2>{{ post.title|e }}</h2>
    <p class="meta">{% trans "written by" %} <a href="{{ url_for(post.author)|e
      }}">{{ post.author.display_name|e }}</a>, on {{
      post.pub_date|datetimeformat|e }}.</p>
    {% if post.intro %}
      <div class="intro">{{ post.intro }}</div>
    {% endif %}
    <div class="text" id="extended">{{ post.body }}</div>
    <p class="related">
      {% trans 'Tagged as' %}:
      {% for tag in post.tags -%}
        <a href="{{ url_for(tag)|e }}">{{ tag.name|e }}</a>
        {%- if not loop.last %}, {% endif %}
      {%- else -%}
        {% trans "nothing" %}
      {%- endfor %}
    </p>
  </div>
  {%- if post.comments %}
    <h3>{% trans "Comments" %}</h3>
    {%- if cfg.use_flat_comments %}
      <ol id="comments">
      {%- for comment in post.comments %}
        <li>{{ render_comment(comment) }}</li>
      {%- endfor %}
      </ol>
    {%- else %}
      <ul id="comments">
      {%- for comment in post.root_comments recursive %}
        <li>{{ render_comment(comment, post.comments_enabled
          and not cfg.use_flat_comments) }}{% if
          comment.children %}<ul>{{ loop(comment.children) }}</ul>{% endif %}</li>
      {%- endfor %}
      </ul>
    {%- endif %}
  {%- endif %}
  {%- if post.comments_enabled %}
    <h3 id="leave-reply">{% trans "Leave a Reply" %}</h3>
    <form action="#leave-reply" class="comments" method="post">
      {{ h.input_field('parent', form.parent, 'hidden') }}
      <dl>
        <dt><label for="name">{% trans "Name*" %}</label></dt>
        <dd>{{ h.input_field('name', form.name) }}</dd>
        <dt><label for="email">{% trans "Mail* (not published)" %}</label></dt>
        <dd>{{ h.input_field('email', form.email) }}</dd>
        <dt><label for="www">{% trans "Website" %}</label></dt>
        <dd>{{ h.input_field('www', form.www) }}</dd>
      </dl>
      {{ h.textarea('body', form.body) }}
      <div id="comment-message">{# used for the reply callback #}</div>
      {%- if errors %}
        <div class="error">
          <h3>{% trans 'Could not Post Comment' %}</h3>
          {%- for error in errors %}
            <p>{{ error|e }}</p>
          {%- endfor %}
        </div>
      {%- endif %}
      <div class="actions">
        <input type="submit" value="{% trans 'Submit Comment' %}">
        <input type="reset" value="{% trans 'Reset Form' %}">
      </div>
    </form>
  {%- endif %}
{% endblock %}
