{% extends "layout.html" %}
{% block title %}{% trans "Tag Cloud" %}{% endblock %}
{% block contents %}
  <h2>{% trans "Tag Cloud" %}</h2>
  <div class="tag-cloud">
  {%- for tag in tag_cloud %}
    <a href="{{ url_for('blog/show_tag', slug=tag.slug)|e }}" style="font-size: {{
       tag.size }}%" title="{% trans count=tag.count, tag=(tag.name|e)
       %}One post tagged {{ tag }}{% pluralize %}{{ count }} posts tagged {{ tag
       }}{% endtrans %}">{{ tag.name|e }}</a>
  {%- endfor %}
  </div>
{% endblock %}
