<%inherit file="layout.html"/>
<h2>Features</h2>
<ul>
  <li><strong>Valid HTML4</strong>.  While it looked like XHTML would become
      the standard for long time, HTML is getting a lot of attention lately again.
      The reason for this is the current bad support of XHTML in browsers
      and the huge number of pages with an XHTML doctype but HTML4 contents.
      TextPress currently sticks to HTML4 and we will make the switch to
      either HTML5 / XHTML5 of XHTML2, depending on what will best supported
      at that time.</li>
  <li><strong>Atom support</strong>.  TextPress supports the most recent
      <a href="http://www.atomenabled.org/">Atom standard</a> for best
      interoperability with other applications and web services.</li>
  <li><strong>Extensible</strong>.  TextPress is build on a solid core that
      is extensible by plugins.  These plugins can extend nearly every part
      of the application.</li>
  <li><strong>Pingback support</strong>.  TextPress comes with full support
      for <a href="http://www.hixie.ch/specs/pingback/pingback">pingback</a>
      for cross-blog communication.</li>
  <li><strong>Mass-Hosting ready</strong>.  TextPress does not support
      multiple blogs in one blog but is developed in a way that you can easily
      host dozens of blog and upgrade them all in one go.  Adding new blogs
      once you've got TextPress running is a matter of a few seconds.</li>
  <li><strong>Simple Web Setup</strong>.  The initial web setups helps you
      getting TextPress running in less than two minutes.</li>
  <li><strong>Unicode Ready</strong>.  TextPress uses unicode internally
      everywhere.  This allows you to write posts in any language and also
      mix different languages in the same post.</li>
  <li><strong>Simplified HTML</strong>.  As blog author you often want to
      write the HTML for your blog posts on your own but want to have
      automatic paragraphs or some other helpers (such as automatically
      escaped text inside <code>&lt;pre&gt;</code>-tags).  TextPress comes
      with an intelligent algorithm that ensures your code is valid HTML on
      the one hand, and easy to write on the other.</li>
</ul>
