<%inherit file="layout.html"/>
<h2>What is TextPress?</h2>
<p>
  TextPress is an Open Source personal publishing platform written in Python.
  It's written with security and extensibility in mind and inherits many ideas
  of WordPress and TextPattern.
</p>
<p>
  The development started in the summer of 2007 and has now reached a stable
  version you would love to share with you.  It's still a very young product
  but we consider it stable for everybody with a
  <a href="${url_for('about/requirements.html')}">proper hosting environment</a>.
</p>
