<%inherit file="layout.html"/>
<h2>Our Inspiration</h2>
<p>
  TextPress was created out of the desire to have an extensible blogging
  platform in an agile language that was secure and user friendly at the
  same time.
</p>
<p>
  The main inspirations for TextPress are obviously WordPress and TextPattern
  which both have great user interfaces and are extensible in a similar way
  TextPress is.
</p>
<p>
  Most if the ideas in terms of implementation and code style were derived
  from the Django web framework and trac.
</p>
