<%inherit file="layout.html"/>
<h2>Requirements</h2>
<p>
  Unlike many other blog engines, TextPress is not written in PHP but in
  the general purpose language <a href="http://python.org/">Python</a>.
  Unfortunately many cheap hosts do not provide Python hosting so is currently
  a little bit tricky to get TextPress running on cheap webhosts.
</p>
<p>
  You have to have at least Python 2.4 and the following Python modules
  installed.  If you are using <code>easy_install</code> to install TextPress
  these are installed automatically for you.
</p>
<ul>
  <li><strong>SQLAlchemy</strong> 0.4 or higher</li>
  <li><strong>Jinja</strong> 1.2 or higher</li>
  <li><strong>Werkzeug</strong> 0.2 or higher</li>
</ul>
<p>
  Additionally one of the database systems supported by SQLAlchemy must be
  available.  Currently these are MySQL, sqlite, postgresql, MSSQL, and firebird.
</p>
<p>
  The following webservers and interfaces are supported by TextPress:
</p>
<ul>
  <li><strong>Apache</strong>, via FastCGI, SCGI, AJP, CGI, mod_python, or mod_wsgi</li>
  <li><strong>lighttpd</strong>, via FastCGI, SCGI, or CGI</li>
  <li><strong>nginx</strong>, via FastCGI and CGI</li>
</ul>
