<%inherit file="layout.html"/>
<h2>The Team</h2>
<p>
  Behind every Open Source project are a number of people that care
  about it.  The persons listed here are the main developers of TextPress,
  that work on the core functionality or the plugins shiped with TextPress.
</p>
<ul>
  <li>
    <a href="http://lucumr.pocoo.org/cogitations/">Armin Ronacher</a>
    aka <em>mitsuhiko</em> — Lead Developer.
    <small>
      Founded TextPress after he was annoyed by the sourcecode of
      WordPress and the fact that there was no good blogging software
      written in python.
    </small>
  </li>
</ul>
