body {
    background-color: #151515;
}

a {
    color: #333;
}

a:hover {
    color: #888;
}

div.header {
    background: #222;
    border-bottom-color: #b4b4b4;
}

div.header h1 a {
    color: #eee;
}

div.header p.description {
    color: #666;
}

div.page {
    border-color: #444;
    color: #222;
}

h2, h3 a:hover {
    color: #222;
}

h3 a:hover {
    background-color: #eee;
}

p.related {
    background-color: #f2f2f2;
    border: 1px solid #bbb;
}

input, select, textarea {
    border: 1px solid #bbb;
}

div.actions input {
    background-color: #f2f2f2;
}

div.pagination a, div.pagination strong {
    border: 1px solid #bbb;
}

div.pagination a:hover {
    background-color: #eee;
    color: #333;
}
