{% extends "layout.html" %}
{% block body %}
  <h2>{{ _('Database') }}</h2>
  <p>{% trans %}
    Zine uses a database to store blog posts and other information. The
    only information it requires therefore is a database URI. Depending on your
    database this URI looks different. Have a look at the following table for
    examples of database URIs.
  {% endtrans %}</p>
  <dl>
    <dt>{{ _('SQLite') }}
    <dd><code>{{ _('sqlite:///database.db') }}</code> &mdash;
      {% trans %}
        connect to a database that is located at a specific absolute path
        on the file system of the server.  Note that on Mac OS X and Linux
        systems three slashes mean relative to the instance folder and four
        slashes represent an absolute path.  On Windows you have to use
        three slashes, a drive letter and the full path.
      {% endtrans %}
    <dt>{{ _('MySQL') }}
    <dd><code>{{ _('mysql://username:password@host/database_name') }}</code>
    <dt>{{ _('Postgres') }}
    <dd><code>{{ _('postgres://username:password@host/database_name') }}</code>
  </dl>
  <input type="text" name="database_uri" value="{{ values.database_uri|e }}" size="40">
{% endblock %}
